<div class="solucao-atacado--distribuicao-container">
  <div class="solucao-atacado--distribuicao-hero-right">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1565793298595-6a879b1d9492?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIwfHx0cnVja3xlbnwwfHx8fDE2ODEzMTkxMzc&amp;ixlib=rb-4.0.3&amp;h=1500"
      loading="eager"
      class="solucao-atacado--distribuicao-image"
    />
    <logo-icone rootClassName="logo-icone-root-class-name5"></logo-icone>
    <div class="solucao-atacado--distribuicao-container1">
      <h1 class="solucao-atacado--distribuicao-text">Atacado e Distribuição</h1>
      <span class="solucao-atacado--distribuicao-text01">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu
          <span [innerHTML]="rawhzzi"></span>
        </span>
        <br />
      </span>
      <botes-whatsctt></botes-whatsctt>
    </div>
  </div>
  <app-videos></app-videos>
  <div class="solucao-atacado--distribuicao-container2">
    <div class="solucao-atacado--distribuicao-text-left">
      <div class="solucao-atacado--distribuicao-text-solution">
        <h1 class="solucao-atacado--distribuicao-text04">
          Sírius S@T Fiscal / NFC-e
        </h1>
        <span class="solucao-atacado--distribuicao-text05">
          <span>· Geração de Cupom Fiscal Eletrônico SAT</span>
          <br />
          <span>· Geração de Nota Fiscal de Consumidor Eletrônica NFC-e</span>
          <br />
          <span>· Preparado para atender a lei da transparência</span>
          <br />
          <span>· Geração de Nota Fiscal Paulista</span>
          <br />
          <span>· Integração com TEF (cartão de crédito)</span>
          <br />
          <span>· Rotinas de abertura e fechamento de caixa</span>
          <br />
          <span>· Controle de estoque</span>
        </span>
      </div>
      <div class="solucao-atacado--distribuicao-text-solution01">
        <h1 class="solucao-atacado--distribuicao-text19">Sírius Nf-e</h1>
        <span class="solucao-atacado--distribuicao-text20">
          <span>· Geração de NFE a partir do pedido</span>
          <br />
          <span>· Digitação expressa de nfe de saída ou entrada</span>
          <br />
          <span>· Processos automatizados de;</span>
          <br />
          <span>· Cálculos de impostos, inclusive substituição tributária</span>
          <br />
          <span>· Cálculos de peso e volume</span>
          <br />
          <span>· Envio, autorização e retorno junto a SEFAZ</span>
          <br />
          <span>· Impressão da Danfe</span>
          <br />
          <span>· Geração e envio de arquivo XML</span>
          <br />
          <span>· Visualização da pré-danfe</span>
          <br />
          <span>· Rotinas de cancelamento e inutilização</span>
          <br />
          <span>· Geração de notas de importação</span>
          <br />
          <span>· Carta de correção, nota complementar e afins</span>
        </span>
      </div>
      <div class="solucao-atacado--distribuicao-text-solution02">
        <h1 class="solucao-atacado--distribuicao-text44">
          Sírius S@T Safira – Para todo o comércio varejista
        </h1>
        <span class="solucao-atacado--distribuicao-text45">
          <span>· Possui todos os recursos do Sírius S@T Fiscal</span>
          <br />
          <span>· Módulo Financeiro a pagar</span>
          <br />
          <span>· Módulo Financeiro a receber</span>
          <br />
          <span>· Pedidos de compras</span>
        </span>
      </div>
      <div class="solucao-atacado--distribuicao-text-solution03">
        <h1 class="solucao-atacado--distribuicao-text53">Sírius Óticas</h1>
        <span class="solucao-atacado--distribuicao-text54">
          Cadastro de laboratórios, oftalmologistas e afins. Controle de lentes,
          armações, marcas e modelos. Controle de ordens de serviços. Gera o
          cupom fiscal de forma automatizada através do Sírius SAT.
        </span>
      </div>
    </div>
    <div class="solucao-atacado--distribuicao-images">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1601642263169-e6159cd2320e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxidXRjaGVyfGVufDB8fHx8MTY4MTMxMjY4Mg&amp;ixlib=rb-4.0.3&amp;w=500"
        loading="lazy"
        class="solucao-atacado--distribuicao-image1"
      />
      <div class="solucao-atacado--distribuicao-left-images">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1625980344922-a4df108b2bd0?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fGJpbGx8ZW58MHx8fHwxNjgxMzEzMzE2&amp;ixlib=rb-4.0.3&amp;h=1500"
          loading="lazy"
          class="solucao-atacado--distribuicao-image2"
        />
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1634733988138-bf2c3a2a13fa?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDJ8fGJpbGx8ZW58MHx8fHwxNjgxMzEzMzE2&amp;ixlib=rb-4.0.3&amp;h=1500"
          class="solucao-atacado--distribuicao-image3"
        />
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1443934732608-9de53a872e32?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fG9wdGljfGVufDB8fHx8MTY4MTMxMzg5NA&amp;ixlib=rb-4.0.3&amp;w=500"
          class="solucao-atacado--distribuicao-image4"
        />
      </div>
      <div class="solucao-atacado--distribuicao-right-images">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1588675646184-f5b0b0b0b2de?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHJlc3RhdXJhbnQlMjBiaWxsfGVufDB8fHx8MTY4MTMxMzM0MQ&amp;ixlib=rb-4.0.3&amp;w=500"
          class="solucao-atacado--distribuicao-image5"
        />
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1618007625018-51cbd56c0520?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDMzfHxkZWxpdmVyeXxlbnwwfHx8fDE2ODEzMTMzNTY&amp;ixlib=rb-4.0.3&amp;h=1500"
          class="solucao-atacado--distribuicao-image6"
        />
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1638981367648-d4909c40ab16?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI3fHxwaXp6ZXJpYXxlbnwwfHx8fDE2ODEzMTM2MTc&amp;ixlib=rb-4.0.3&amp;h=1500"
          class="solucao-atacado--distribuicao-image7"
        />
      </div>
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1529472119196-cb724127a98e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDR8fHBldCUyMHNob3B8ZW58MHx8fHwxNjgxMzE0MzYx&amp;ixlib=rb-4.0.3&amp;w=500"
        class="solucao-atacado--distribuicao-image8"
      />
    </div>
    <div class="solucao-atacado--distribuicao-text-right">
      <div class="solucao-atacado--distribuicao-text-solution04">
        <h1 class="solucao-atacado--distribuicao-text55">
          Sírius Pré Venda / Balcão – Lojas em geral
        </h1>
        <span class="solucao-atacado--distribuicao-text56">
          Geração de orçamento, pedido de venda, baixa de estoque e afins. Ideal
          para o lojista que emite pedidos de venda e possui mais de um ponto de
          venda na loja. Gera o cupom fiscal de forma automatizada através do
          Sírius SAT.
        </span>
      </div>
      <div class="solucao-atacado--distribuicao-text-solution05">
        <h1 class="solucao-atacado--distribuicao-text57">
          Sírius Comanda / Mesas – Alimentação em Geral
        </h1>
        <span class="solucao-atacado--distribuicao-text58">
          Geração de orçamento, pedido de venda, baixa de estoque e afins. Ideal
          para o lojista que emite pedidos de venda e possui mais de um ponto de
          venda na loja. Gera o cupom fiscal de forma automatizada através do
          Sírius SAT.
        </span>
      </div>
      <div class="solucao-atacado--distribuicao-text-solution06">
        <h1 class="solucao-atacado--distribuicao-text59">
          Sírius Delivery – Alimentação em Geral
        </h1>
        <span class="solucao-atacado--distribuicao-text60">
          Controle das entregas para comércio em geral. Gera o cupom fiscal de
          forma automatizada através do Sírius SAT.
        </span>
      </div>
      <div class="solucao-atacado--distribuicao-text-solution07">
        <h1 class="solucao-atacado--distribuicao-text61">Sírius Pizzarias</h1>
        <span class="solucao-atacado--distribuicao-text62">
          Recursos voltados exclusivamente as pizzarias como; promoção de
          vendas, fracionamento da pizza (2 ou mais sabores), observações
          enviadas a cozinha em relação a montagem da pizza e muito mias. Gera o
          cupom fiscal de forma automatizada através do Sírius SAT.
        </span>
      </div>
      <div class="solucao-atacado--distribuicao-text-solution08">
        <h1 class="solucao-atacado--distribuicao-text63">Sírius iFood</h1>
        <span class="solucao-atacado--distribuicao-text64">
          Captura os pedidos do iFood, monta o pedido de venda e executa o
          despacho de forma rápida e fácil. Gera o cupom fiscal de forma
          automatizada através do Sírius SAT.
        </span>
      </div>
      <div class="solucao-atacado--distribuicao-text-solution09">
        <h1 class="solucao-atacado--distribuicao-text65">Sírius Pet Shop</h1>
        <span class="solucao-atacado--distribuicao-text66">
          Controle de raça, tipo de pelagem, tutor, vacinação, agendamentos,
          atendimentos e muito mais. Gera o cupom fiscal de forma automatizada
          através do Sírius SAT.
        </span>
      </div>
    </div>
  </div>
  <div class="solucao-atacado--distribuicao-features">
    <h1 class="solucao-atacado--distribuicao-text67">
      <span>Conheça nossos Serviços</span>
      <br />
    </h1>
    <div class="solucao-atacado--distribuicao-container3">
      <a transitionTo="/solucao-varejo">
        <solucoes-right
          title="Varejo"
          image_alt="Atacado e Distribuição"
          image_src="/assets/playground_assets/comercio-varejista-200h.webp"
          description="NF-e, CT-e, NFS-e, Vendas, Liberação e Expedição de Pedidos, Reserva, Troca/Devolução, Financeiro, Cobrança, Compras e muito mais."
          rootClassName="solucoes-right-root-class-name6"
          class="solucao-atacado--distribuicao-component2"
        ></solucoes-right>
      </a>
      <a transitionTo="/solucao-industria--servico">
        <solucoes-left
          title="Indústria e Serviço"
          action="VEJA MAIS"
          image_src="https://images.unsplash.com/photo-1455165814004-1126a7199f9b?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fGluZHVzdHJ5fGVufDB8fHx8MTY4MTIyNDgxNw&amp;ixlib=rb-4.0.3&amp;h=200"
          description="Ordens de produção com explosão de matéria prima e lote. Controle Completo de Assistência Técnica."
          rootClassName="rootClassName3"
          class="solucao-atacado--distribuicao-component3"
        ></solucoes-left>
      </a>
      <a transitionTo="/solucao-fiscal">
        <solucoes-right
          title="Fiscal"
          image_alt="Fiscal"
          image_src="https://images.unsplash.com/photo-1626266061368-46a8f578ddd6?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fGNhbGN1bGF0b3J8ZW58MHx8fHwxNjgxMjI0ODg0&amp;ixlib=rb-4.0.3&amp;h=200"
          description="Sped ICMS, IPI, Pis e Cofins e Bloco K completo."
          rootClassName="solucoes-right-root-class-name7"
          class="solucao-atacado--distribuicao-component4"
        ></solucoes-right>
      </a>
    </div>
  </div>
  <app-footer rootClassName="footer-root-class-name2"></app-footer>
</div>
