:host { 
  display: contents; 
}
.solucao-atacado--distribuicao-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.solucao-atacado--distribuicao-hero-right {
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  min-height: 700px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.solucao-atacado--distribuicao-image {
  width: 50%;
  height: 100%;
  align-self: flex-start;
  object-fit: cover;
}
.solucao-atacado--distribuicao-container1 {
  width: 50%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-left: 5%;
  padding-right: 24px;
  flex-direction: column;
  justify-content: center;
}
.solucao-atacado--distribuicao-text {
  font-size: 3rem;
}
.solucao-atacado--distribuicao-text01 {
  width: 100%;
  margin-top: var(--dl-space-space-twounits);
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.solucao-atacado--distribuicao-container2 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-eeeeee);
}
.solucao-atacado--distribuicao-text-left {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  max-height: 100%;
  align-items: stretch;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.solucao-atacado--distribuicao-text-solution {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.solucao-atacado--distribuicao-text04 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.solucao-atacado--distribuicao-text05 {
  width: 100%;
  line-height: 1.5;
}
.solucao-atacado--distribuicao-text-solution01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.solucao-atacado--distribuicao-text19 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.solucao-atacado--distribuicao-text20 {
  width: 100%;
  line-height: 1.5;
}
.solucao-atacado--distribuicao-text-solution02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.solucao-atacado--distribuicao-text44 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.solucao-atacado--distribuicao-text45 {
  width: 100%;
  line-height: 1.5;
}
.solucao-atacado--distribuicao-text-solution03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.solucao-atacado--distribuicao-text53 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.solucao-atacado--distribuicao-text54 {
  width: 100%;
  line-height: 1.5;
}
.solucao-atacado--distribuicao-images {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  min-width: 370px;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.solucao-atacado--distribuicao-image1 {
  width: 100%;
  height: 175px;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 16px;
  object-position: 0 -170px;
}
.solucao-atacado--distribuicao-left-images {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.solucao-atacado--distribuicao-image2 {
  width: 177px;
  height: 311.11px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 16px;
}
.solucao-atacado--distribuicao-image3 {
  width: 177px;
  height: 311.11px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 16px;
  object-position: -060px;
}
.solucao-atacado--distribuicao-image4 {
  width: 177px;
  height: 177px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 16px;
}
.solucao-atacado--distribuicao-right-images {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.solucao-atacado--distribuicao-image5 {
  width: 177px;
  height: 177px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 16px;
}
.solucao-atacado--distribuicao-image6 {
  width: 177px;
  height: 311.11px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 16px;
}
.solucao-atacado--distribuicao-image7 {
  width: 177px;
  height: 311.11px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 16px;
}
.solucao-atacado--distribuicao-image8 {
  width: 100%;
  height: 175px;
  min-width: 370px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 16px;
  object-position: 0 -300px;
}
.solucao-atacado--distribuicao-text-right {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-twounits);
  align-items: stretch;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.solucao-atacado--distribuicao-text-solution04 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: stretch;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: space-between;
}
.solucao-atacado--distribuicao-text55 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.solucao-atacado--distribuicao-text56 {
  width: 100%;
  line-height: 1.5;
}
.solucao-atacado--distribuicao-text-solution05 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: stretch;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: space-between;
}
.solucao-atacado--distribuicao-text57 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.solucao-atacado--distribuicao-text58 {
  width: 100%;
  line-height: 1.5;
}
.solucao-atacado--distribuicao-text-solution06 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: stretch;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: space-between;
}
.solucao-atacado--distribuicao-text59 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.solucao-atacado--distribuicao-text60 {
  width: 100%;
  line-height: 1.5;
}
.solucao-atacado--distribuicao-text-solution07 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: stretch;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: space-between;
}
.solucao-atacado--distribuicao-text61 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.solucao-atacado--distribuicao-text62 {
  width: 100%;
  line-height: 1.5;
}
.solucao-atacado--distribuicao-text-solution08 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: stretch;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: space-between;
}
.solucao-atacado--distribuicao-text63 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.solucao-atacado--distribuicao-text64 {
  width: 100%;
  line-height: 1.5;
}
.solucao-atacado--distribuicao-text-solution09 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: stretch;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: space-between;
}
.solucao-atacado--distribuicao-text65 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.solucao-atacado--distribuicao-text66 {
  width: 100%;
  line-height: 1.5;
}
.solucao-atacado--distribuicao-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.solucao-atacado--distribuicao-text67 {
  font-size: 3rem;
  margin-bottom: 0px;
}
.solucao-atacado--distribuicao-container3 {
  width: 100%;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
}
.solucao-atacado--distribuicao-component2 {
  text-decoration: none;
}
.solucao-atacado--distribuicao-component3 {
  text-decoration: none;
}
.solucao-atacado--distribuicao-component4 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .solucao-atacado--distribuicao-image {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: auto;
    position: absolute;
  }
  .solucao-atacado--distribuicao-container1 {
    width: 100%;
    height: 100%;
    z-index: 100;
    align-items: center;
    padding-left: 0;
    padding-right: 0px;
    justify-content: center;
  }
  .solucao-atacado--distribuicao-text {
    color: #ffffff;
    text-align: center;
  }
  .solucao-atacado--distribuicao-text01 {
    color: #ffffff;
    margin-top: var(--dl-space-space-fourunits);
    text-align: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .solucao-atacado--distribuicao-images {
    width: 30%;
    height: 1719px;
    min-width: 0px;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .solucao-atacado--distribuicao-image1 {
    height: fit-content;
    max-height: 175px;
    object-position: center;
  }
  .solucao-atacado--distribuicao-left-images {
    width: 100%;
    height: 37,5%;
    align-items: center;
    justify-content: space-between;
  }
  .solucao-atacado--distribuicao-image2 {
    width: 100%;
    height: 175px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .solucao-atacado--distribuicao-image3 {
    width: 100%;
    height: 170px;
    margin-top: 0px;
    margin-bottom: 0px;
    object-position: 0;
  }
  .solucao-atacado--distribuicao-image4 {
    width: 100%;
    height: 170px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .solucao-atacado--distribuicao-right-images {
    width: 100%;
    height: 37,5%;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
  }
  .solucao-atacado--distribuicao-image5 {
    width: 100%;
    height: 170px;
    margin-bottom: 0px;
  }
  .solucao-atacado--distribuicao-image6 {
    width: 100%;
    height: 170px;
    margin-bottom: 0px;
  }
  .solucao-atacado--distribuicao-image7 {
    width: 100%;
    height: 170px;
    margin-bottom: 0px;
  }
  .solucao-atacado--distribuicao-image8 {
    width: 100%;
    height: 175px;
    min-width: 0px;
    object-fit: cover;
    object-position: center;
  }
  .solucao-atacado--distribuicao-text67 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .solucao-atacado--distribuicao-container1 {
    width: 100%;
    margin-right: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .solucao-atacado--distribuicao-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .solucao-atacado--distribuicao-text67 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .solucao-atacado--distribuicao-container1 {
    width: 459px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .solucao-atacado--distribuicao-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
