:host { 
  display: contents; 
}
.politica-de-privacidade-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.politica-de-privacidade-container1 {
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
}
.politica-de-privacidade-title {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
