<div class="contato-container">
  <div class="contato-hero">
    <div class="contato-container1">
      <h1 class="contato-text">Entre em contato</h1>
      <form class="contato-form">
        <campo-forms
          label="Nome"
          placeholder="Escreva seu nome"
          rootClassName="campo-forms-root-class-name"
        ></campo-forms>
        <campo-forms
          label="Empresa"
          placeholder="Nome da usa empresa"
          rootClassName="campo-forms-root-class-name1"
        ></campo-forms>
        <campo-forms
          label="Email"
          placeholder="Escreva seu email"
          rootClassName="campo-forms-root-class-name2"
        ></campo-forms>
        <campo-forms
          label="Telefone"
          placeholder="Escreva seu telefone"
          rootClassName="campo-forms-root-class-name3"
        ></campo-forms>
        <div class="contato-container2">
          <label class="contato-text1">Mensagem</label>
          <textarea
            placeholder="Escreva sua mensagem"
            class="contato-textarea textarea"
          ></textarea>
        </div>
      </form>
    </div>
    <div class="contato-container3">
      <div class="contato-container4">
        <h1 class="contato-text2">SIMPLIFIQUE</h1>
        <h1 class="contato-text3">Tire todas as suas dúvidas</h1>
      </div>
      <span class="contato-text4">
        <span>Atendimento: </span>
        <span>Segunda a Sexta-Feira das </span>
        <span>08:00 - 18:00</span>
        <br />
      </span>
    </div>
    <logo-icone
      image_src="/assets/playground_assets/logo%20soft%20clever%20branca%20height32-200h.png"
      rootClassName="logo-icone-root-class-name1"
    ></logo-icone>
  </div>
  <app-footer></app-footer>
</div>
