:host { 
  display: contents; 
}
.contato-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contato-header {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.contato-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contato-burger-menu {
  display: none;
  z-index: 100;
}
.contato-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.contato-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.contato-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.contato-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contato-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contato-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contato-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.contato-link {
  display: contents;
}
.contato-icon04 {
  width: 18px;
  height: 24px;
  text-decoration: none;
}
.contato-link1 {
  display: contents;
}
.contato-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.contato-link2 {
  display: contents;
}
.contato-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.contato-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #00bfff;
}
.contato-container02 {
  gap: var(--dl-space-space-unit);
  width: 40%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  align-self: center;
  max-height: 100%;
  min-height: 100%;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.contato-container03 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.contato-container04 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
}
.contato-icon10 {
  width: 24px;
  filter: invert(100%);
  height: 24px;
}
.contato-text {
  color: var(--dl-color-gray-white);
  text-align: right;
}
.contato-container05 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
}
.contato-icon12 {
  width: 24px;
  filter: invert(100%);
  height: 24px;
}
.contato-text01 {
  color: var(--dl-color-gray-white);
  text-align: right;
}
.contato-container06 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
}
.contato-icon14 {
  width: 24px;
  filter: invert(100%);
  height: 24px;
}
.contato-text02 {
  color: var(--dl-color-gray-white);
  text-align: right;
}
.contato-container07 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
}
.contato-text03 {
  color: var(--dl-color-gray-white);
  text-align: right;
}
.contato-container08 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
}
.contato-icon16 {
  width: 24px;
  filter: invert(100%);
  height: 24px;
}
.contato-text04 {
  color: var(--dl-color-gray-white);
  text-align: right;
}
.contato-container09 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
}
.contato-icon18 {
  width: 32px;
  filter: invert(100%);
  height: 32px;
  align-self: flex-start;
}
.contato-text05 {
  color: var(--dl-color-gray-white);
  text-align: right;
}
.contato-container10 {
  flex: 0 0 auto;
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contato-text06 {
  font-size: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.contato-form {
  gap: var(--dl-space-space-twounits);
  width: a;
  height: a;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.contato-container11 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.contato-container12 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.contato-textinput {
  border-color: var(--dl-color-gray-aaaaaa);
  border-radius: 20px;
}
.contato-container13 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.contato-textinput1 {
  border-color: var(--dl-color-gray-aaaaaa);
  border-radius: 20px;
}
.contato-container14 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.contato-container15 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.contato-textinput2 {
  border-color: var(--dl-color-gray-aaaaaa);
  border-radius: 20px;
}
.contato-container16 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.contato-textinput3 {
  border-color: var(--dl-color-gray-aaaaaa);
  border-radius: 20px;
}
.contato-container17 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.contato-textarea {
  height: 100px;
  border-color: var(--dl-color-gray-aaaaaa);
  border-radius: 20px;
}
.contato-button {
  padding: var(--dl-space-space-unit);
  align-self: center;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
.contato-text07 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
@media(max-width: 991px) {
  .contato-header {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .contato-icon-group {
    margin-top: var(--dl-space-space-unit);
  }
  .contato-hero {
    width: 100%;
    height: auto;
    max-height: auto;
    margin-right: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .contato-container02 {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-twounits);
    z-index: 100;
    align-items: center;
    justify-content: center;
  }
  .contato-container03 {
    align-items: center;
    flex-direction: row;
  }
  .contato-container04 {
    width: auto;
  }
  .contato-container05 {
    width: auto;
  }
  .contato-container06 {
    width: auto;
  }
  .contato-container07 {
    align-self: center;
    justify-content: center;
  }
  .contato-text03 {
    text-align: center;
  }
  .contato-container08 {
    justify-content: center;
  }
  .contato-container09 {
    justify-content: center;
  }
  .contato-container10 {
    order: 3;
    width: auto;
    height: auto;
    align-self: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .contato-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contato-nav {
    display: none;
  }
  .contato-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contato-hero {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .contato-container02 {
    width: 100%;
    margin-right: 0px;
    justify-content: center;
  }
  .contato-container03 {
    gap: var(--dl-space-space-halfunit);
  }
  .contato-container04 {
    gap: var(--dl-space-space-halfunit);
  }
  .contato-container05 {
    gap: var(--dl-space-space-halfunit);
  }
  .contato-container06 {
    gap: var(--dl-space-space-halfunit);
  }
  .contato-container10 {
    width: auto;
  }
  .contato-text06 {
    width: a;
  }
}
@media(max-width: 479px) {
  .contato-header {
    padding: var(--dl-space-space-unit);
  }
  .contato-mobile-menu {
    padding: 16px;
  }
  .contato-icon-group {
    align-self: flex-start;
    justify-content: center;
  }
  .contato-hero {
    padding-top: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0px;
  }
  .contato-container02 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contato-container03 {
    align-self: center;
    flex-direction: column;
  }
  .contato-container04 {
    align-self: center;
    justify-content: center;
  }
  .contato-container05 {
    align-self: center;
    justify-content: center;
  }
  .contato-container06 {
    align-self: center;
    justify-content: center;
  }
}
