<app-menu></app-menu>
<hero-section
    heading="SAT"
    image="../../../../assets/images/webp/mulher-com-tablet-1500h.webp"
    [paragraphs]="[
        'Soluções em sistemas para o varejo em geral, seja de micro, pequeno ou de médio porte.',
        'Oferecemos planos mensais ou anuais com descontos. Temos um pacote que cabe no seu bolso.',
        'Não cobramos pela cópia do sistema e o nosso contrato mensal não possui fidelidade.',
        'Nosso suporte é remoto e online e atendemos em todo o território nacional.',
        'O Sírius S@T Fiscal é homologado pela Sefaz-SP e é indicado por centenas de contadores.',
        'São mais de 12.000 usuários atendidos desde 1994. Na Soft Clever você pode confiar.',
        'Conheça abaixo as nossas soluções voltadas para o comércio varejista.'
    ]">
</hero-section>
<app-videos></app-videos>
<content-sections
    image="../../../../assets/images/feliz-modernos-mulher-com-bolsas-para-compras-vertical-2-500w.jpg"
    [leftSections]="[
        { image: 'https://images.unsplash.com/photo-1554224155-6726b3ff858f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE0fHxmaW5hbmNlfGVufDB8fHx8MTY4MTM5OTUyMQ&ixlib=rb-4.0.3&w=700', title: 'Sírius S@T Fiscal / NFC-e', paragraphs: ['Geração de Cupom Fiscal Eletrônico SAT.', 'Geração de Nota Fiscal de Consumidor Eletrônica NFC-e.', 'Preparado para atender a lei da transparência.', 'Geração de Nota Fiscal Paulista.', 'Integração com TEF (cartão de crédito).', 'Rotinas de abertura e fechamento de caixa.', 'Controle de estoque.'] },
        { image: 'https://images.unsplash.com/photo-1625980344922-a4df108b2bd0?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fGJpbGx8ZW58MHx8fHwxNjgxMzEzMzE2&ixlib=rb-4.0.3&w=700', title: 'Sírius Nf-e', paragraphs: ['Geração de NFE a partir do pedido.', 'Digitação expressa de nfe de saída ou entrada.', 'Processos automatizados de:', 'Cálculos de impostos, inclusive substituição tributária.', 'Cálculos de peso e volume.', 'Envio, autorização e retorno junto a SEFAZ.', 'Impressão da Danfe.', 'Geração e envio de arquivo XML.', 'Visualização da pré-danfe.', 'Rotinas de cancelamento e inutilização.', 'Geração de notas de importação.', 'Carta de correção, nota complementar e afins.'] },
        { image: 'https://images.unsplash.com/photo-1544377193-33dcf4d68fb5?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDZ8fGZpbmFuY2V8ZW58MHx8fHwxNjgxMzk5NTIx&ixlib=rb-4.0.3&w=700', title: 'Sírius S@T Safira – Para todo o comércio varejista', paragraphs: ['Possui todos os recursos do Sírius S@T Fiscal.', 'Módulo Financeiro a pagar.', 'Módulo Financeiro a receber.', 'Pedidos de compras.'] },
        { image: 'https://images.unsplash.com/photo-1443934732608-9de53a872e32?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fG9wdGljc3xlbnwwfHx8fDE2ODE0MDYzMzI&ixlib=rb-4.0.3&w=700', title: 'Sírius Óticas', paragraphs: ['Cadastro de laboratórios, oftalmologistas e afins.', 'Controle de lentes, armações, marcas e modelos.', 'Controle de ordens de serviços.', 'Gera o cupom fiscal de forma automatizada através do Sírius SAT.'] },
    ]"
    [rightSections]="[
        { image: 'https://images.unsplash.com/photo-1601642263169-e6159cd2320e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxidXRjaGVyfGVufDB8fHx8MTY4MTMxMjY4Mg&ixlib=rb-4.0.3&w=700', title: 'Sírius Pré Venda / Balcão – Lojas em geral', paragraphs: ['Geração de orçamento, pedido de venda, baixa de estoque e afins. Ideal para o lojista que emite pedidos de venda e possui mais de um ponto de venda na loja. Gera o cupom fiscal de forma automatizada através do Sírius SAT.'] },
        { image: 'https://images.unsplash.com/photo-1588675646184-f5b0b0b0b2de?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHJlc3RhdXJhbnQlMjBiaWxsfGVufDB8fHx8MTY4MTMxMzM0MQ&ixlib=rb-4.0.3&w=700', title: 'Sírius Comanda / Mesas – Alimentação em Geral', paragraphs: ['Geração de orçamento, pedido de venda, baixa de estoque e afins. Ideal para o lojista que emite pedidos de venda e possui mais de um ponto de venda na loja. Gera o cupom fiscal de forma automatizada através do Sírius SAT.'] },
        { image: 'https://images.unsplash.com/photo-1638981367648-d4909c40ab16?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI3fHxwaXp6ZXJpYXxlbnwwfHx8fDE2ODEzMTM2MTc&ixlib=rb-4.0.3&w=700', title: 'Sírius Pizzarias', paragraphs: ['Recursos voltados exclusivamente as pizzarias como; promoção de vendas, fracionamento da pizza (2 ou mais sabores), observações enviadas a cozinha em relação a montagem da pizza e muito mias. Gera o cupom fiscal de forma automatizada através do Sírius SAT.'] },
        { image: 'https://static.poder360.com.br/2020/05/Delivery-Ifood-Motoboy-Bike-Ciclista-Entregadores-5-1.jpg', title: 'Sírius iFood', paragraphs: ['Captura os pedidos do iFood, monta o pedido de venda e executa o despacho de forma rápida e fácil.', 'Gera o cupom fiscal de forma automatizada através do Sírius SAT.'] },
        { image: 'https://uploads.metropoles.com/wp-content/uploads/2021/07/07140330/Design-sem-nome-60-1-600x400.jpg', title: 'Sírius Pet Shop', paragraphs: ['Controle de raça, tipo de pelagem, tutor, vacinação, agendamentos, atendimentos e muito mais.', 'Gera o cupom fiscal de forma automatizada através do Sírius SAT.'] }
    ]">
</content-sections>
<home-servicos
    [cards]="[
        { routerLink: '/solucao-varejo', heading: 'Varejo', image: '/assets/images/comercio-varejista-1500w.webp', text: 'Emissor S@T fiscal e NFC-e com integração aos módulos Pré-venda, Delivery, Comandas, Sirius App Comandas e Pré-venda, Sirius Web Lojas, Sirius Market Place e cartão de crédito/TEF.' },
        { routerLink: '/solucao-atacado-e-distribuicao', heading: 'Atacado e Distribuição', image: '/assets/images/atacado-e-distribuicao-1500w.webp', text: 'NF-e, CT-e, NFS-e, Vendas, Liberação e Expedição de Pedidos, Reserva, Troca/Devolução, Financeiro, Cobrança, Compras e muito mais.' },
        { routerLink: '/solucao-industria-servico', heading: 'Indústria e Serviço', image: 'https://images.unsplash.com/photo-1455165814004-1126a7199f9b?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fGluZHVzdHJ5fGVufDB8fHx8MTY4MTIyNDgxNw&ixlib=rb-4.0.3&h=200', text: 'Ordens de produção com explosão de matéria prima e lote. Controle Completo de Assistência Técnica.' },
    ]">
</home-servicos>
<app-footer></app-footer>
<div class="fake-tags-google">
    <h1>SAT</h1>
    <p>
        O SAT nada mais é do que um equipamento responsável por autenticar cupons fiscais eletrônicos, que
        registra toda e qualquer operação realizada pelos comerciantes no estado de São Paulo, onde, de uns anos
        pra cá, é obrigatório o uso desse novo equipamento, que traz mais segurança e otimização a seus
        usuários, além de ser transmitido diretamente à Secretaria da Fazenda.
    </p>

    <p>
        Com o SAT, o consumidor consegue localizar de forma rápida e adequada a sua nota ou cupom fiscal e
        efetua as ações tributárias necessárias, como por exemplo, no setor varejista, que possui obrigações
        diárias nesse quesito. Ademais, esse equipamento é de grande importância, além de fazer com que seus
        usuários fiquem dentro da lei.
    </p>

    <p>
        Devido ao grande número de atividades nessa área, surgem sistemas modernos no mercado, fornecidos por
        empresas desenvolvedoras de softwares, como a Soft Clever Informática, que se especializa em sistemas
        modernos de SAT e de gestão de empresas, para que facilite o dia a dia dos consumidores, além de evitar
        erros que são bastante comuns quando a atividade não é eletrônica.
    </p>

    <p>Qual a importância do SAT?</p>

    <p>
        O SAT se caracteriza por ser moderno e prático, substituindo o antigo modelo de cupom fiscal e
        realizando atividades de forma eletrônica, como a NF-e. Ademais, esse novo modelo de documento possui um
        ótimo custo-benefício, se adquirido pela empresa Soft Clever Informática, que desenvolve sistemas
        inovadores e únicos para a área de serviços e comércios em geral.
    </p>

    <p>
        Além do mais, o SAT auxilia o setor comercial que está sempre em busca de obter agilidade e facilidade
        na concretização das questões tributárias, mantendo suas operações dentro da lei e garantindo um
        resultado mais satisfatório, pois reduz drasticamente a possibilidade de erros e outros possíveis
        problemas que poderiam ocorrer, que atrapalhariam as tarefas diárias e a produtividade como um todo.
    </p>

    <p>
        Portanto, o SAT engloba emissão e validação de cupom fiscal de forma eletrônica, contribuindo para o
        controle das mercadorias fornecidas no varejo, além de guardar as informações de forma confidencial,
        preservando a identidade de cada usuário e de cada empresa. Dessa forma, vale a pena as empresas obterem
        um sistema que fica responsável por realizar toda essa parte burocrática.
    </p>

    <p>SAT de qualidade é na Soft Clever Informática</p>

    <p>
        A Soft Clever Informática é uma empresa renomada na área, onde a maioria de seus funcionários possuem
        mais de 20 anos de experiência no ramo, contando também com laboratório próprio com suporte totalmente
        online, oferecendo assim um serviço rápido e com eficiência inigualável.
    </p>
</div>
<app-footer></app-footer>