/* FOOTER */

footer {
    width: 100vw;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: var(--gray-background-color);

    .footer-container {
        width: 100%;

        max-width: var(--max-width);

        padding: 16px 64px;

        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
        align-items: flex-start;

        .footer-section {
            min-width: 200px;
            max-width: 400px;

            display: flex;
            flex-direction: column;

            gap: 12px;

            .footer-section-title {
                display: flex;

                h2 {
                    font-size: 24px;
                    font-weight: 700;

                    color: var(--red-color);
                }
            }

            .footer-section-navigation {
                ul {
                    margin: 0;

                    list-style: none;

                    li a {
                        width: 100%;

                        display: flex;

                        align-items: flex-start;

                        color: black;
                    }
                }

                .footer-section-navigation-social {
                    display: flex;

                    gap: 16px;
                }
            }


        }

        @media screen and (max-width: 630px) {
            flex-direction: column;

            justify-content: center;
            align-items: flex-start;

            .footer-section {
                padding-bottom: 24px;
            }
        }
    }
}