<footer>
    <section class="footer">
        <div class="footer-container">
            <div class="footer-container-padding">
                <div class="footer-section">
                    <div class="footer-section-title">
                        <h2>Veja também</h2>
                    </div>
                    <nav class="footer-section-navigation">
                        <ul>
                            <li>
                                <a href="../../../assets/downloads/MANUAL COMPLETO DO SPED - VERSAO 001.pdf" class="footer-navlink">Manual SPED</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer-section">
                    <div class="footer-section-title">
                        <h2>Contato</h2>
                    </div>
                    <nav class="footer-section-navigation">
                        <ul>
                            <li>
                                <a href="/contact">
                                    Rua João Alves Pimenta, 880
                                    Freguesia do Ó - São Paulo/SP
                                </a>
                            </li>
                            <li>
                                <a href="mailto:softclever@softclever.com.br"> softclever@softclever.com.br </a>
                            </li>
                            <li><a href="/contact"> (11) 3991-3923 / 2361-8334</a></li>
                            <li>
                                <a routerLink="/politica-de-privacidade" class="footer-navlink4">
                                    Politica de Privacidade
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer-section">
                    <div class="footer-section-title">
                        <h2>Redes Sociais</h2>
                    </div>
                    <nav class="footer-section-navigation">
                        <ul class="footer-section-social-media footer-section-navigation-social">
                            <li>
                                <a
                                    href="https://www.facebook.com/Soft-Clever-Informatica-568803013611951"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="menu-social-buttom">
                                    <img src="assets/images/png/facebook.png" alt="" class="menu-social-image" />
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://www.youtube.com/channel/UCd15UMZr95UzVWWKbu5khTw?view_as=subscriber"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="menu-social-buttom">
                                    <img src="assets/images/png/youtube.png" alt="" class="menu-social-image" />
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://www.instagram.com/soft.clever"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="menu-social-buttom">
                                    <img src="assets/images/png/instagram.png" alt="" class="menu-social-image" />
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <span class="footer-text"> © 1994 Soft Clever Informática ERP, All Rights Reserved. </span>
</footer>
