<footer>
    <section class="footer">
        <div class="footer-container">
            <div class="footer-container-padding">
                <div class="footer-section">
                    <div class="footer-section-title">
                        <h2>Institucional</h2>
                    </div>
                    <nav class="footer-section-navigation">
                        <ul>
                            <li><a routerLink="/solucao-varejo" class="footer-navlink">Varejo</a></li>
                            <li>
                                <a routerLink="/solucao-atacado-e-distribuicao" class="footer-navlink1">
                                    Atacado e Distribuição
                                </a>
                            </li>
                            <li>
                                <a routerLink="/solucao-industria--servico" class="footer-navlink2">
                                    Industria e Serviço
                                </a>
                            </li>
                            <li><a routerLink="/solucao-fiscal" class="footer-navlink3">Fiscal</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footer-section">
                    <div class="footer-section-title">
                        <h2>Contato</h2>
                    </div>
                    <nav class="footer-section-navigation">
                        <ul>
                            <li><a href="/contact"> Rua João Alves Pimenta,
                                    880<br> Freguesia do Ó - São Paulo/SP </a></li>
                            <li><a href="mailto:softclever@softclever.com.br">
                                    softclever@softclever.com.br </a></li>
                            <li><a href="/contact"> (11) 3991-3923 /
                                    2361-8334</a></li>
                            <li><a routerLink="/politica-de-privacidade" class="footer-navlink4">
                                    Politica de Privacidade
                                </a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footer-section">
                    <div class="footer-section-title">
                        <h2>Redes Sociais</h2>
                    </div>
                    <nav class="footer-section-navigation">
                        <ul class="footer-section-social-media footer-section-navigation-social">
                            <li>
                                <a href="https://www.facebook.com/Soft-Clever-Informatica-568803013611951"
                                    target="_blank" rel="noreferrer noopener" class="menu-social-buttom">
                                    <img src="assets/images/png/facebook.png" alt="" class="menu-social-image">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCd15UMZr95UzVWWKbu5khTw?view_as=subscriber"
                                    target="_blank" rel="noreferrer noopener" class="menu-social-buttom">
                                    <img src="assets/images/png/youtube.png" alt="" class="menu-social-image">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/soft.clever" target="_blank"
                                    rel="noreferrer noopener" class="menu-social-buttom">
                                    <img src="assets/images/png/instagram.png" alt="" class="menu-social-image">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <a class="footer-development" href="https://github.com/GabrielToth">Desenvolvido por Gabriel Toth Gonçalves</a>
    <span class="footer-text">
        © 1994 Soft Clever Informática ERP, All Rights Reserved.
    </span>
</footer>