:host { 
  display: contents; 
}
.landing-sistema-sa-fiscal-gratuito-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-sistema-sa-fiscal-gratuito-header {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.landing-sistema-sa-fiscal-gratuito-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.landing-sistema-sa-fiscal-gratuito-burger-menu {
  display: none;
  z-index: 100;
}
.landing-sistema-sa-fiscal-gratuito-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.landing-sistema-sa-fiscal-gratuito-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.landing-sistema-sa-fiscal-gratuito-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.landing-sistema-sa-fiscal-gratuito-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.landing-sistema-sa-fiscal-gratuito-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-sistema-sa-fiscal-gratuito-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.landing-sistema-sa-fiscal-gratuito-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.landing-sistema-sa-fiscal-gratuito-link {
  display: contents;
}
.landing-sistema-sa-fiscal-gratuito-icon04 {
  width: 18px;
  height: 24px;
  text-decoration: none;
}
.landing-sistema-sa-fiscal-gratuito-link1 {
  display: contents;
}
.landing-sistema-sa-fiscal-gratuito-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.landing-sistema-sa-fiscal-gratuito-link2 {
  display: contents;
}
.landing-sistema-sa-fiscal-gratuito-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.landing-sistema-sa-fiscal-gratuito-hero-right {
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-fiveunits);
  min-height: 700px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.landing-sistema-sa-fiscal-gratuito-image {
  width: 50%;
  height: 100%;
  align-self: flex-start;
  object-fit: cover;
}
.landing-sistema-sa-fiscal-gratuito-container2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-left: 5%;
  padding-right: 24px;
  flex-direction: column;
  justify-content: center;
}
.landing-sistema-sa-fiscal-gratuito-heading {
  font-size: 3rem;
}
.landing-sistema-sa-fiscal-gratuito-text {
  width: 100%;
  margin-top: var(--dl-space-space-twounits);
  text-align: justify;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.landing-sistema-sa-fiscal-gratuito-container3 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: stretch;
  justify-content: center;
  background-color: var(--dl-color-bgpastel-begebg);
}
.landing-sistema-sa-fiscal-gratuito-container4 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: stretch;
  justify-content: space-between;
}
.landing-sistema-sa-fiscal-gratuito-text-left {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.landing-sistema-sa-fiscal-gratuito-text-solution {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.landing-sistema-sa-fiscal-gratuito-image01 {
  width: 100%;
  height: 175px;
  display: none;
  min-width: 370px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 16px;
  object-position: bottom;
}
.landing-sistema-sa-fiscal-gratuito-text15 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.landing-sistema-sa-fiscal-gratuito-text16 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.landing-sistema-sa-fiscal-gratuito-text-solution1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.landing-sistema-sa-fiscal-gratuito-image02 {
  width: 100%;
  height: 311.11px;
  display: none;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 16px;
}
.landing-sistema-sa-fiscal-gratuito-text30 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.landing-sistema-sa-fiscal-gratuito-text31 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.landing-sistema-sa-fiscal-gratuito-text-solution2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.landing-sistema-sa-fiscal-gratuito-image03 {
  width: 100%;
  height: 311.11px;
  display: none;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 16px;
}
.landing-sistema-sa-fiscal-gratuito-text55 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.landing-sistema-sa-fiscal-gratuito-text56 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.landing-sistema-sa-fiscal-gratuito-text-solution3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: space-between;
}
.landing-sistema-sa-fiscal-gratuito-image04 {
  width: 100%;
  height: 175px;
  display: none;
  min-width: 370px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 16px;
  object-position: bottom;
}
.landing-sistema-sa-fiscal-gratuito-text64 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.landing-sistema-sa-fiscal-gratuito-text65 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.landing-sistema-sa-fiscal-gratuito-images {
  flex: 0 0 auto;
  width: 35%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.landing-sistema-sa-fiscal-gratuito-image05 {
  width: 100%;
  height: 100%;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 16px;
}
.landing-sistema-sa-fiscal-gratuito-text-right {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.landing-sistema-sa-fiscal-gratuito-text-solution4 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: stretch;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.landing-sistema-sa-fiscal-gratuito-image06 {
  width: 100%;
  height: 175px;
  display: none;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 16px;
  object-position: 0 -170px;
}
.landing-sistema-sa-fiscal-gratuito-text66 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.landing-sistema-sa-fiscal-gratuito-text67 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.landing-sistema-sa-fiscal-gratuito-text-solution5 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: stretch;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.landing-sistema-sa-fiscal-gratuito-image07 {
  width: 100%;
  height: 177px;
  display: none;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 16px;
}
.landing-sistema-sa-fiscal-gratuito-text68 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.landing-sistema-sa-fiscal-gratuito-text69 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.landing-sistema-sa-fiscal-gratuito-text-solution6 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: stretch;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.landing-sistema-sa-fiscal-gratuito-image08 {
  width: 100%;
  height: 311.11px;
  display: none;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 16px;
}
.landing-sistema-sa-fiscal-gratuito-text70 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.landing-sistema-sa-fiscal-gratuito-text71 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.landing-sistema-sa-fiscal-gratuito-text-solution7 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: stretch;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.landing-sistema-sa-fiscal-gratuito-image09 {
  width: 100%;
  height: 311.11px;
  display: none;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 16px;
  object-position: 0 -50;
}
.landing-sistema-sa-fiscal-gratuito-text72 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.landing-sistema-sa-fiscal-gratuito-text73 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.landing-sistema-sa-fiscal-gratuito-text-solution8 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: stretch;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: space-between;
}
.landing-sistema-sa-fiscal-gratuito-image10 {
  width: 100%;
  height: 175px;
  display: none;
  min-width: 370px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 16px;
  object-position: bottom;
}
.landing-sistema-sa-fiscal-gratuito-text74 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.landing-sistema-sa-fiscal-gratuito-text75 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.landing-sistema-sa-fiscal-gratuito-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-bgpastel-bgcreme);
}
.landing-sistema-sa-fiscal-gratuito-text76 {
  font-size: 3rem;
  margin-bottom: 0px;
}
.landing-sistema-sa-fiscal-gratuito-container5 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.landing-sistema-sa-fiscal-gratuito-component4 {
  text-decoration: none;
}
.landing-sistema-sa-fiscal-gratuito-component5 {
  text-decoration: none;
}
.landing-sistema-sa-fiscal-gratuito-component6 {
  text-decoration: none;
}
.landing-sistema-sa-fiscal-gratuito-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 2000px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 991px) {
  .landing-sistema-sa-fiscal-gratuito-icon-group {
    margin-top: var(--dl-space-space-unit);
  }
  .landing-sistema-sa-fiscal-gratuito-image {
    width: 30%;
  }
  .landing-sistema-sa-fiscal-gratuito-container2 {
    width: 70%;
    height: 100%;
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .landing-sistema-sa-fiscal-gratuito-heading {
    text-align: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text {
    margin-top: var(--dl-space-space-fourunits);
    text-align: left;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .landing-sistema-sa-fiscal-gratuito-text-left {
    width: 50%;
    height: auto;
    padding: var(--dl-space-space-twounits);
    align-self: stretch;
  }
  .landing-sistema-sa-fiscal-gratuito-text-solution {
    margin-bottom: 0px;
  }
  .landing-sistema-sa-fiscal-gratuito-image01 {
    width: 100%;
    height: 175px;
    min-width: 0px;
  }
  .landing-sistema-sa-fiscal-gratuito-text-solution1 {
    margin-bottom: 0px;
  }
  .landing-sistema-sa-fiscal-gratuito-image02 {
    width: 100%;
    height: 175px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .landing-sistema-sa-fiscal-gratuito-text-solution2 {
    margin-bottom: 0px;
  }
  .landing-sistema-sa-fiscal-gratuito-image03 {
    width: 100%;
    height: 175px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .landing-sistema-sa-fiscal-gratuito-image04 {
    width: 100%;
    height: 175px;
    min-width: 0px;
  }
  .landing-sistema-sa-fiscal-gratuito-images {
    width: 30%;
    height: 1719px;
    display: none;
    min-width: 0px;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .landing-sistema-sa-fiscal-gratuito-image05 {
    height: fit-content;
    max-height: 175px;
    object-position: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text-right {
    width: 50%;
    padding: var(--dl-space-space-twounits);
  }
  .landing-sistema-sa-fiscal-gratuito-image06 {
    height: fit-content;
    max-height: 175px;
    object-position: center;
  }
  .landing-sistema-sa-fiscal-gratuito-image07 {
    width: 100%;
    height: 170px;
    margin-bottom: 0px;
  }
  .landing-sistema-sa-fiscal-gratuito-image08 {
    width: 100%;
    height: 170px;
    margin-bottom: 0px;
  }
  .landing-sistema-sa-fiscal-gratuito-image09 {
    width: 100%;
    height: 170px;
    margin-bottom: 0px;
  }
  .landing-sistema-sa-fiscal-gratuito-image10 {
    width: 100%;
    height: 175px;
    min-width: 0px;
  }
  .landing-sistema-sa-fiscal-gratuito-text76 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .landing-sistema-sa-fiscal-gratuito-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .landing-sistema-sa-fiscal-gratuito-nav {
    display: none;
  }
  .landing-sistema-sa-fiscal-gratuito-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing-sistema-sa-fiscal-gratuito-hero-right {
    height: auto;
    min-height: 80vh;
    align-items: flex-start;
  }
  .landing-sistema-sa-fiscal-gratuito-image {
    display: none;
  }
  .landing-sistema-sa-fiscal-gratuito-container2 {
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .landing-sistema-sa-fiscal-gratuito-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .landing-sistema-sa-fiscal-gratuito-container4 {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .landing-sistema-sa-fiscal-gratuito-text-left {
    order: 2;
    width: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text-solution {
    order: 2;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .landing-sistema-sa-fiscal-gratuito-image01 {
    width: 70%;
    height: 200px;
    display: flex;
    min-width: 0px;
    align-self: center;
    margin-top: 0px;
    max-height: auto;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text15 {
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text-solution1 {
    order: 2;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .landing-sistema-sa-fiscal-gratuito-image02 {
    width: 70%;
    display: flex;
    align-self: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text30 {
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text-solution2 {
    order: 2;
  }
  .landing-sistema-sa-fiscal-gratuito-image03 {
    width: 70%;
    display: flex;
    align-self: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text55 {
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text-solution3 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .landing-sistema-sa-fiscal-gratuito-image04 {
    width: 70%;
    height: 200px;
    display: flex;
    min-width: 0px;
    align-self: center;
    margin-top: 0px;
    max-height: auto;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text64 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .landing-sistema-sa-fiscal-gratuito-images {
    display: none;
  }
  .landing-sistema-sa-fiscal-gratuito-text-right {
    width: auto;
  }
  .landing-sistema-sa-fiscal-gratuito-text-solution4 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .landing-sistema-sa-fiscal-gratuito-image06 {
    width: 70%;
    height: 200px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    max-height: auto;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text66 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text-solution5 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .landing-sistema-sa-fiscal-gratuito-image07 {
    width: 70%;
    height: 200px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    max-height: auto;
    align-items: center;
    justify-content: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text68 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text-solution6 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .landing-sistema-sa-fiscal-gratuito-image08 {
    width: 70%;
    height: 200px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    max-height: auto;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text70 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text-solution7 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .landing-sistema-sa-fiscal-gratuito-image09 {
    width: 70%;
    height: 200px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    max-height: auto;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text72 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text-solution8 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .landing-sistema-sa-fiscal-gratuito-image10 {
    width: 70%;
    height: 200px;
    display: flex;
    min-width: 0px;
    align-self: center;
    margin-top: 0px;
    max-height: auto;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
  }
  .landing-sistema-sa-fiscal-gratuito-text74 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .landing-sistema-sa-fiscal-gratuito-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .landing-sistema-sa-fiscal-gratuito-text76 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .landing-sistema-sa-fiscal-gratuito-header {
    padding: var(--dl-space-space-unit);
  }
  .landing-sistema-sa-fiscal-gratuito-mobile-menu {
    padding: 16px;
  }
  .landing-sistema-sa-fiscal-gratuito-icon-group {
    align-self: flex-start;
    justify-content: center;
  }
  .landing-sistema-sa-fiscal-gratuito-container2 {
    width: 459px;
    margin-bottom: 0px;
  }
  .landing-sistema-sa-fiscal-gratuito-image01 {
    width: 100%;
    height: 200px;
    max-height: auto;
  }
  .landing-sistema-sa-fiscal-gratuito-image02 {
    width: 100%;
    height: 200px;
    max-height: auto;
  }
  .landing-sistema-sa-fiscal-gratuito-image03 {
    width: 100%;
    height: 200px;
    max-height: auto;
  }
  .landing-sistema-sa-fiscal-gratuito-image04 {
    width: 100%;
    height: 200px;
    max-height: auto;
  }
  .landing-sistema-sa-fiscal-gratuito-image06 {
    width: 100%;
    height: 200px;
    max-height: auto;
  }
  .landing-sistema-sa-fiscal-gratuito-image07 {
    width: 100%;
    height: 200px;
    max-height: auto;
  }
  .landing-sistema-sa-fiscal-gratuito-image08 {
    width: 100%;
    height: 200px;
    max-height: auto;
  }
  .landing-sistema-sa-fiscal-gratuito-image09 {
    width: 100%;
    height: 200px;
    max-height: auto;
  }
  .landing-sistema-sa-fiscal-gratuito-image10 {
    width: 100%;
    height: 200px;
    max-height: auto;
  }
  .landing-sistema-sa-fiscal-gratuito-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
