.content {
    width: 100%;
    max-width: var(--max-width);

    margin: 0 auto;

    display: flex;

    justify-content: space-between;

    background-color: var(--gray-f1);

    .content-container {
        width: 100%;
        height: 100%;

        padding: var(--padding);

        display: flex;

        align-items: stretch;
        justify-content: space-between;

        .content-container-30 {
            width: 30%;
            height: 100%;

            display: flex;
            flex-direction: column;

            justify-content: space-between;
            gap: 32px;

            .content-container-section {
                width: 100%;
                display: flex;
                align-items: stretch;
                flex-direction: column;
                justify-content: space-between;

                h1 {
                    margin-bottom: 16px;

                    font-size: 20px;
                    font-weight: 900;

                    text-align: justify;
                }

                p {
                    margin-bottom: 8px;

                    line-height: 1.3rem;

                    font-size: 16px;

                    text-align: justify;
                }

                img {
                    width: 100%;
                    height: 175px;
                    display: none;

                    align-self: flex-start;

                    object-fit: cover;
                    border-radius: 16px;
                    object-position: bottom;
                }
            }
        }

        .content-container-mid {
            width: 35%;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            align-self: stretch;
            align-items: stretch;
            justify-content: space-between;

            img {
                width: 100%;
                height: 100%;
                align-self: flex-start;
                object-fit: cover;
                border-radius: 16px;

                box-shadow: var(--box-shadow);
            }
        }

        @media (max-width: 991px) {
            justify-content: space-between;

            .content-container-30 {
                width: 45%;
                height: 100%;
            }

            .content-container-mid {
                display: none;
            }
        }
    }

    @media (max-width: 600px) {
        display: block;

        .content-container {
            width: auto;

            flex-direction: column;

            align-items: center;
            justify-content: center;

            .content-container-30 {
                width: 100%;

                align-items: center;
                justify-content: center;
            }
        }
    }
    @media (max-width: 479px) {
        .content-container {
            padding: 32px;
        }
    }
}
