<div class="content">
    <div class="content-container">
        <div class="content-container-30">
            <content-section [contentDataList]="leftSections">
            </content-section>
        </div>
        <div class="content-container-mid">
            <img alt="imagem" [src]="image"
                loading="lazy" class="content-container-mid-image" />
        </div>
        <div class="content-container-30">
            <content-section [contentDataList]="rightSections">
            </content-section>
        </div>
    </div>
</div>