<div class="hero-hero">
  <div class="hero-hero-right">
    <img
      [attr.alt]="image_alt"
      [attr.src]="image_src"
      loading="eager"
      class="hero-image"
    />
    <div class="hero-container">
      <h1 class="hero-text">{{ heading }}</h1>
      <span class="hero-text01">
        <span>
          Soluções em sistemas para o varejo em geral, seja de micro, pequeno ou
          de médio porte.
        </span>
        <br />
        <span>
          Oferecemos planos mensais ou anuais com descontos. Temos um pacote que
          cabe no seu bolso.
        </span>
        <br />
        <span>
          Não cobramos pela cópia do sistema e o nosso contrato mensal não
          possui fidelidade.
        </span>
        <br />
        <span>
          Nosso suporte é remoto e online e atendemos em todo o território
          nacional.
        </span>
        <br />
        <span>
          O Sírius S@T Fiscal é homologado pela Sefaz-SP e é indicado por
          centenas de contadores.
        </span>
        <br />
        <span>
          São mais de 12.000 usuários atendidos desde 1994. Na Soft Clever você
          pode confiar.
        </span>
        <br />
        <span>
          Conheça abaixo as nossas soluções voltadas para o comércio varejista.
        </span>
        <br />
      </span>
      <botes-whatsctt></botes-whatsctt>
    </div>
    <logo-icone rootClassName="logo-icone-root-class-name2"></logo-icone>
  </div>
</div>
