<div class="videos-videos">
  <div class="videos-container">
    <h1 class="videos-text">{{ heading }}</h1>
    <span class="videos-text1">{{ text }}</span>
    <iframe
      src="https://player.vimeo.com/video/352070241?h=4c714b5957"
      allow="autoplay; fullscreen; picture-in-picture"
      frameborder="0"
      allowfullscreen
      allowfullscreen
      class="videos-iframe"
    ></iframe>
  </div>
  <div class="videos-container1">
    <h1 class="videos-text2">{{ heading1 }}</h1>
    <span class="videos-text3">{{ text1 }}</span>
    <iframe
      src="https://www.youtube.com/embed/GwttGRBPf1M"
      allow="autoplay; picture-in-picture"
      frameborder="0"
      allowfullscreen
      class="videos-iframe1"
    ></iframe>
  </div>
</div>
