<div class="videos">
    <div class="videos-container">
        <div class="video-card">
            <div class="video-card-container">
                <div class="video-card-content">
                    <h3>Soft Clever na mídia</h3>
                    <p>Reportagem exibida na Band News.</p>
                </div>
                <div class="video-container">
                    <div class="youtube video" data-embed="83Pxy3TwN2w">
                        <div class="play-button"></div>
        
                    </div>
                </div>
            </div>
        </div>
        <div class="video-card">
            <div class="video-card-container">
                <div class="video-card-content">
                    <h3>Produtos e Serviços</h3>
                    <p>Conheça em apenas um minuto nossos produtos e serviços.</p>
                </div>
                <div class="video-container">
                    <div class="youtube video" data-embed="GwttGRBPf1M">
                        <div class="play-button"></div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>