<div
  class="categoria-solucao-atacado-categoria-solucao-atacado"
  [ngClass]="rootClassName"
>
  <div class="categoria-solucao-atacado-container">
    <h2 class="categoria-solucao-atacado-text">{{ heading }}</h2>
    <span class="categoria-solucao-atacado-text1">{{ text }}</span>
    <button class="categoria-solucao-atacado-button button">
      {{ button }}
    </button>
  </div>
  <img
    [attr.alt]="Image_alt"
    [attr.src]="Image_src"
    loading="lazy"
    class="categoria-solucao-atacado-image"
  />
</div>
