.solutions {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    .solutions-heading {
        font-size: 3rem;
        text-align: center;

        padding: 32px 64px 0;

        @media screen and (max-width: 600px) {
            padding: 0 32px;

            font-size: 2rem;
        }
    }

    .solutions-container {
        padding: var(--padding);


        .solution-links {
            width: 100%;

            display: grid;
            grid-template-columns: repeat(6, 1fr); /* 2 elementos por linha */

            justify-content: center; /* Centraliza o grid horizontalmente */
            
            gap: 32px; /* Espaçamento entre os cards (vertical e horizontal) */

            .solution-link {
                width: 100%;

                grid-column: span 3; /* Ocupa 2 colunas em vez de 1 */

                &.three-cards {
                    grid-column: 2 / span 4; /* Ocupa 2 colunas em vez de 1 */
                }
            }

            @media screen and (max-width: 767px) {
                grid-template-columns: repeat(1, 1fr); /* 2 elementos por linha */
    
                margin: 0 auto;

                .solution-link {
                    grid-column: span 1; /* Ocupa 2 colunas em vez de 1 */

                    &.three-cards {
                        grid-column: span 1; /* Ocupa 2 colunas em vez de 1 */
                    }
                }
            }
            @media screen and (max-width: 479px) {
                width: 275px;
            }
        }
    }
}
