<div class="home-servicos-features">
  <h1 class="home-servicos-text">
    <span>Conheça nossos Serviços</span>
    <br />
  </h1>
  <div class="home-servicos-container">
    <a routerLink="/solucao-varejo" class="home-servicos-navlink">
      <categoria-solucao-varejo
        Image_src="https://www.datatilsynet.dk/Media/637939916318739371/Shopping.jpg?width=600"
        rootClassName="categoria-solucao-varejo-root-class-name"
        class="home-servicos-component"
      ></categoria-solucao-varejo>
    </a>
    <a
      routerLink="/solucao-atacado-e-distribuicao"
      class="home-servicos-navlink1"
    >
      <categoria-solucao-atacado
        rootClassName="categoria-solucao-atacado-root-class-name"
        class="home-servicos-component1"
      ></categoria-solucao-atacado>
    </a>
    <a routerLink="/solucao-industria--servico" class="home-servicos-navlink2">
      <categoria-solucao-industria
        Image_src="https://www.ezelogs.com/blog/blogs-16.webp"
        rootClassName="categoria-solucao-industria-root-class-name"
        class="home-servicos-component2"
      ></categoria-solucao-industria>
    </a>
    <a routerLink="/solucao-fiscal" class="home-servicos-navlink3">
      <categoria-solucao-fiscal
        Image_src="https://images.unsplash.com/photo-1579444741963-5ae219cfe27c?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE1N3x8ZmluYW5jZXxlbnwwfHx8fDE2ODI0MzM2MjQ&amp;ixlib=rb-4.0.3&amp;w=1500"
        rootClassName="categoria-solucao-fiscal-root-class-name"
        class="home-servicos-component3"
      ></categoria-solucao-fiscal>
    </a>
  </div>
</div>
