.contact {
    width: 100%;

    padding: 102px 0 64px 0;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    .contact-container {
        max-width: 600px;
    
        padding: 32px;
    
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-items: center;
    
        gap: 24px;
    
        background-color: var(--gray-f1);
        border-radius: 10px;
        box-shadow: var(--box-shadow);

        h1 {
            margin: 0;
        
            text-align: center;
            
            color: var(--gray-333);
        }

        
        .contact-form {
            display: flex;
            flex-direction: column;

            h2 {
                width: 100%;
            
                margin: 0;
                padding: 16px 0;

                color: var(--gray-333);
            
                text-align: center;

                line-height: 3rem;
            }

            .contact-form-layout {
                display: grid;
                grid-template-columns: 1fr 1fr; /* Três colunas, a terceira com o dobro de espaço */
                gap: 10px;
            }
            
            .contact-form-input {
                width: calc(100% - 20px);
            
                padding: 10px;
            
            
            
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            .contact-form-input::placeholder {
                font-family: Roboto;
            }

            .input-group {
                width: 100%;
                
                grid-column: span 2;
            
                display: flex;

                align-items: center;
            
                gap: 8px;

                /* Estilo para os checkboxes e labels */
[type="checkbox"] {
    width: auto;
    /* Redefinir a largura dos checkboxes para o tamanho padrão */
    padding-right: 5px;
    /* Espaço entre os checkboxes e os labels */
}
            }
            
            .contact-info-cellphones {
                width: 100%;
            
                display: grid;
            
                grid-template-columns: repeat(2, 1fr);
            
                justify-items: center;
                align-items: center;
            
                gap: 32px;

                .contact-info-item {
                    width: 170px;

                    display: flex;

                    align-items: center;

                    gap: 12px;

                    text-decoration: none;

                    color: var(--);

                    .contact-info-item-icon {
                        width: 24px;
                        height: 24px;
                    }

                    .contact-info-cellphone {
                        text-decoration: none;
                        color: var(--gray-333);
                    }
                }
            }
        }
    }

    
@media screen and (max-width: 600px) {

        padding: 102px 0 64px 0;
    
        .contact-container {
            .contact-form {
                .contact-info-cellphones {
                    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                }
            
                .contact-info-cellphones .contact-info-item {
                    justify-content: center;
                }
            }
        }

   
}
}

/* Alinhar os inputs e labels à esquerda */
label {
    display: block;
    /* Isso faz com que os labels ocupem toda a largura disponível */
}

.double-span {
    grid-column: span 2;
}



.loading-image {
    width: 64px;
    height: 64px;

    display: flex;
}

/* Estilo para mensagens de erro */
.error-message {
    color: red;
    font-size: 0.875rem; /* Tamanho de fonte desejado */
    margin-top: 0.25rem; /* Espaço superior opcional */
  }