<div class="landing-fiscal-hero-section-hero-right">
  <img
    alt="image"
    src="/assets/playground_assets/solucoes-fiscais-11-1500w.jpg"
    loading="eager"
    class="landing-fiscal-hero-section-image"
  />
  <div class="landing-fiscal-hero-section-container">
    <h1 class="landing-fiscal-hero-section-text">{{ titulo }}</h1>
    <span class="landing-fiscal-hero-section-text01">
      <span>
        Sistema completo, simples e prático para emissão de qualquer tipo de
        documentos fiscais, tais como; Nota Fiscal Eletrônica (NF-e),
        Conhecimento de Transporte Eletrônico (CT-e) e Manifestação de
        Documentos Fiscais (MDF-e). Atuando em todos os estados,
        disponibilizamos as melhores funcionalidades para atender a qualquer
        tipo de empresa, seja comércio, distribuição, atacado e indústria.
        Atende a qualquer segmento do mercado e empresas de micro, pequeno e
        médio porte.
      </span>
      <br />
      <span>
        Sistema homologado na Secretaria da Fazenda, atende completamente a toda
        Legislação Fiscal exigida pela SEFAZ de forma eficaz e totalmente
        simplificada.
      </span>
      <br />
      <span>
        Oferecemos planos mensais ou anuais com descontos. Temos um pacote que
        cabe no seu bolso.
        <span [innerHTML]="rawdcdl"></span>
      </span>
      <br />
      <span>
        Não cobramos pela cópia do sistema e o nosso contrato mensal não possui
        fidelidade.
      </span>
      <br />
      <span>
        Nosso suporte é remoto e online e atendemos em todo o território
        nacional.
      </span>
      <br />
      <span>
        As soluções fiscais da Soft Clever são indicadas por centenas de
        contabilidades.
      </span>
      <br />
      <span>
        São mais de 12.000 usuários atendidos desde 1994. Na Soft Clever você
        pode confiar.
      </span>
      <br />
      <span>Abaixo, nossas soluções.</span>
    </span>
    <botes-whatsctt></botes-whatsctt>
  </div>
</div>
