<div class="landing-fiscal-servicos-features">
  <h1 class="landing-fiscal-servicos-text">
    <span>Conheça nossos Serviços</span>
    <br />
  </h1>
  <div class="landing-fiscal-servicos-container">
    <a routerLink="/solucao-varejo" class="landing-fiscal-servicos-navlink">
      <solucoes-left
        title="Varejo"
        action="VEJA MAIS"
        image_src="https://www.datatilsynet.dk/Media/637939916318739371/Shopping.jpg?width=600"
        description="Emissor S@T fiscal e NFC-e com integração aos módulos Pré-venda, Delivery, Comandas, Sirius App Comandas e Pré-venda, Sirius Web Lojas, Sirius Market Place e cartão de crédito/TEF."
        rootClassName="rootClassName9"
        class="landing-fiscal-servicos-component"
      ></solucoes-left>
    </a>
    <a
      routerLink="/solucao-atacado-e-distribuicao"
      class="landing-fiscal-servicos-navlink1"
    >
      <solucoes-right
        title="Atacado e Distribuição"
        image_alt="Atacado e Distribuição"
        image_src="/assets/playground_assets/atacado-e-distribuicao-1500w.webp"
        description="NF-e, CT-e, NFS-e, Vendas, Liberação e Expedição de Pedidos, Reserva, Troca/Devolução, Financeiro, Cobrança, Compras e muito mais."
        rootClassName="solucoes-right-root-class-name4"
        class="landing-fiscal-servicos-component1"
      ></solucoes-right>
    </a>
    <a
      routerLink="/solucao-industria--servico"
      class="landing-fiscal-servicos-navlink2"
    >
      <solucoes-left
        title="Indústria e Serviço"
        action="VEJA MAIS"
        image_src="https://www.ezelogs.com/blog/blogs-16.webp"
        description="Emissor S@T fiscal e NFC-e com integração aos módulos Pré-venda, Delivery, Comandas, Sirius App Comandas e Pré-venda, Sirius Web Lojas, Sirius Market Place e cartão de crédito/TEF."
        rootClassName="rootClassName7"
        class="landing-fiscal-servicos-component2"
      ></solucoes-left>
    </a>
  </div>
</div>
