<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPTFDXDG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<div class="solucao-varejo-container">
  <app-menu rootClassName="header-root-class-name22"></app-menu>
  <landing-sa-hero-section
    Heading="Varejo"
    rootClassName="landing-sa-hero-section-root-class-name4"
  ></landing-sa-hero-section>
  <app-videos rootClassName="videos-root-class-name"></app-videos>
  <landing-sa-conteudo
    rootClassName="landing-sa-conteudo-root-class-name"
  ></landing-sa-conteudo>
  <landing-sa-servicos
    rootClassName="landing-sa-servicos-root-class-name17"
  ></landing-sa-servicos>
  <app-footer rootClassName="footer-root-class-name1"></app-footer>
</div>
