<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPTFDXDG" height="0" width="0"
        style="display:none;visibility:hidden">
    </iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="solucao-varejo-container">
    <app-menu></app-menu>
    <landing-sat-hero-section Heading="Varejo"></landing-sat-hero-section>
    <app-videos></app-videos>
    <landing-sa-conteudo></landing-sa-conteudo>
    <home-servicos></home-servicos>
    </div>
<app-footer></app-footer>