<app-menu></app-menu>
<hero-section
    title="Varejo"
    image="/assets/images/mulher-com-tablet-1500h.webp"
    [paragraphs]="[
        'Soluções em sistemas para o varejo em geral, seja de micro, pequeno ou de médio porte.',
        'Oferecemos planos mensais ou anuais com descontos. Temos um pacote que cabe no seu bolso.',
        'Não cobramos pela cópia do sistema e o nosso contrato mensal não possui fidelidade.',
        'Nosso suporte é remoto e online e atendemos em todo o território nacional.',
        'O Sírius S@T Fiscal é homologado pela Sefaz-SP e é indicado por centenas de contadores.',
        'São mais de 12.000 usuários atendidos desde 1994. Na Soft Clever você pode confiar.',
        'Conheça abaixo as nossas soluções voltadas para o comércio varejista.'
    ]"></hero-section>
<app-videos></app-videos>
<landing-sat-conteudo></landing-sat-conteudo>
<home-servicos></home-servicos>

<app-footer></app-footer>
