<app-menu></app-menu>
<hero-section></hero-section>
<app-videos></app-videos>
<content-sections image="/assets/images/feliz-modernos-mulher-com-bolsas-para-compras-vertical-2-500w.jpg"
    [leftSections]="[
            { image: 'https://images.unsplash.com/photo-1554224155-6726b3ff858f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE0fHxmaW5hbmNlfGVufDB8fHx8MTY4MTM5OTUyMQ&ixlib=rb-4.0.3&w=700', title: 'Sírius S@T Fiscal / NFC-e', paragraphs: ['Geração de Cupom Fiscal Eletrônico SAT.', 'Geração de Nota Fiscal de Consumidor Eletrônica NFC-e.', 'Preparado para atender a lei da transparência.', 'Geração de Nota Fiscal Paulista.', 'Integração com TEF (cartão de crédito).', 'Rotinas de abertura e fechamento de caixa.', 'Controle de estoque.'] },
            { image: 'https://images.unsplash.com/photo-1625980344922-a4df108b2bd0?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fGJpbGx8ZW58MHx8fHwxNjgxMzEzMzE2&ixlib=rb-4.0.3&w=700', title: 'Sírius Nf-e', paragraphs: ['Geração de NFE a partir do pedido.', 'Digitação expressa de nfe de saída ou entrada.', 'Processos automatizados de:', 'Cálculos de impostos, inclusive substituição tributária.', 'Cálculos de peso e volume.', 'Envio, autorização e retorno junto a SEFAZ.', 'Impressão da Danfe.', 'Geração e envio de arquivo XML.', 'Visualização da pré-danfe.', 'Rotinas de cancelamento e inutilização.', 'Geração de notas de importação.', 'Carta de correção, nota complementar e afins.'] },
            { image: 'https://images.unsplash.com/photo-1544377193-33dcf4d68fb5?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDZ8fGZpbmFuY2V8ZW58MHx8fHwxNjgxMzk5NTIx&ixlib=rb-4.0.3&w=700', title: 'Sírius S@T Safira – Para todo o comércio varejista', paragraphs: ['Possui todos os recursos do Sírius S@T Fiscal.', 'Módulo Financeiro a pagar.', 'Módulo Financeiro a receber.', 'Pedidos de compras.'] },
            { image: 'https://images.unsplash.com/photo-1443934732608-9de53a872e32?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fG9wdGljc3xlbnwwfHx8fDE2ODE0MDYzMzI&ixlib=rb-4.0.3&w=700', title: 'Sírius Óticas', paragraphs: ['Cadastro de laboratórios, oftalmologistas e afins.', 'Controle de lentes, armações, marcas e modelos.', 'Controle de ordens de serviços.', 'Gera o cupom fiscal de forma automatizada através do Sírius SAT.'] },
        ]" [rightSections]="[
            { image: 'https://images.unsplash.com/photo-1601642263169-e6159cd2320e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxidXRjaGVyfGVufDB8fHx8MTY4MTMxMjY4Mg&ixlib=rb-4.0.3&w=700', title: 'Sírius Pré Venda / Balcão – Lojas em geral', paragraphs: ['Geração de orçamento, pedido de venda, baixa de estoque e afins. Ideal para o lojista que emite pedidos de venda e possui mais de um ponto de venda na loja. Gera o cupom fiscal de forma automatizada através do Sírius SAT.'] },
            { image: 'https://images.unsplash.com/photo-1588675646184-f5b0b0b0b2de?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHJlc3RhdXJhbnQlMjBiaWxsfGVufDB8fHx8MTY4MTMxMzM0MQ&ixlib=rb-4.0.3&w=700', title: 'Sírius Comanda / Mesas – Alimentação em Geral', paragraphs: ['Geração de orçamento, pedido de venda, baixa de estoque e afins. Ideal para o lojista que emite pedidos de venda e possui mais de um ponto de venda na loja. Gera o cupom fiscal de forma automatizada através do Sírius SAT.'] },
            { image: 'https://images.unsplash.com/photo-1638981367648-d4909c40ab16?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI3fHxwaXp6ZXJpYXxlbnwwfHx8fDE2ODEzMTM2MTc&ixlib=rb-4.0.3&w=700', title: 'Sírius Pizzarias', paragraphs: ['Recursos voltados exclusivamente as pizzarias como; promoção de vendas, fracionamento da pizza (2 ou mais sabores), observações enviadas a cozinha em relação a montagem da pizza e muito mias. Gera o cupom fiscal de forma automatizada através do Sírius SAT.'] },
            { image: 'https://static.poder360.com.br/2020/05/Delivery-Ifood-Motoboy-Bike-Ciclista-Entregadores-5-1.jpg', title: 'Sírius iFood', paragraphs: ['Captura os pedidos do iFood, monta o pedido de venda e executa o despacho de forma rápida e fácil.', 'Gera o cupom fiscal de forma automatizada através do Sírius SAT.'] },
            { image: 'https://uploads.metropoles.com/wp-content/uploads/2021/07/07140330/Design-sem-nome-60-1-600x400.jpg', title: 'Sírius Pet Shop', paragraphs: ['Controle de raça, tipo de pelagem, tutor, vacinação, agendamentos, atendimentos e muito mais.', 'Gera o cupom fiscal de forma automatizada através do Sírius SAT.'] }
        ]"></content-sections>
<home-servicos></home-servicos>
<app-footer></app-footer>
<div class="landing-software-sa-fiscal-container1">
    <h1>Software SAT Fiscal</h1>
    <p>
        <span>
            Um software SAT Fiscal é fornecido com qualidade e preço baixo para todo o mercado de varejo, que busca
            obter maiores vantagens ao utilizar um sistema fácil de usar, com benefícios exclusivos e com a inovação
            adequada para cada atividade de sua empresa.
            <span [innerHTML]="rawiq3k"></span>
        </span>
        <br />
        <span>
            O software SAT Fiscal está sempre sendo atualizado, não apresenta erros, pois é preciso e desempenha
            ótima performance, além de suas ferramentas estarem de acordo com as operações realizadas no dia a dia
            das empresas. O ramo de varejo precisa emitir adequadamente os cupons fiscais eletrônicos para serem
            encaminhados para a Secretaria da Fazenda, de modo que estejam de acordo com as normas estabelecidas.
        </span>
        <br />
        <span>
            Com o software SAT Fiscal, você adquire diminuição dos custos, eliminação de erros, que eram bastante
            comuns quando não havia um sistema próprio para isso, aumento da produtividade, organização dos afazeres
            do local, elimina o risco de multas por não cumprirem as práticas tributárias e ainda manuseia um
            sistema de ótimo controle, usabilidade e que traz atributos de qualidade para toda a área de varejo.
            <span [innerHTML]="rawsr22"></span>
        </span>
        <br />
        <span>O software SAT Fiscal da empresa Soft Clever Informática</span>
        <br />
        <span>
            Esse sistema também auxilia em toda a operação da área de varejo, como vendas, atendimento, compra,
            estoque e todas as tarefas que fazem parte desse setor. Um software SAT Fiscal é ideal para empresas que
            buscam oportunidades de obter os melhores resultados com o uso diário desse sistema implantado em sua
            empresa.
        </span>
        <br />
        <span>
            O software SAT Fiscal atua em empresas de pequeno e médio porte em todo o estado de São Paulo, onde o
            uso desse sistema cresce a cada dia mais, favorecendo todos os comerciantes da área de varejo, que
            precisam estar em dia com as suas questões tributárias e estar dentro da lei, já que o uso do sistema
            SAT é de obrigatoriedade e esse software acaba trazendo mais aperfeiçoamento e praticidade para todo o
            mercado.
        </span>
        <br />
        <span>
            A empresa Soft Clever Informática apresenta o seu software SAT Fiscal que busca entender e realizar
            qualquer atividade do dia a dia das empresas varejistas, com grande destaque para a emissão de cupons
            fiscais eletrônicos que são encaminhados diretamente à SEFAZ.
            <span [innerHTML]="raw01va"></span>
        </span>
        <br />
        <span>A Soft Clever Informática é a empresa ideal para o seu varejo</span>
        <br />
        <span>
            O software SAT Fiscal da Soft Clever Informática se destaca no ramo competitivo por seu sistema de ótima
            performance e organização, trazendo assim para o mercado praticidade, produtividade, melhorias no dia a
            dia dos clientes e mais benefícios para todos os usuários.
        </span>
        <br />
    </p>
</div>
<app-footer></app-footer>