<div class="solucao-atacado-distribuicao-container">
    <app-menu></app-menu>
    <hero-section
        title="Atacado e Distribuição"
        image="https://i.pinimg.com/originals/f7/05/48/f70548a9271bf9df31196e0dd267281b.png"
        [paragraphs]="[
            'Sistema de gestão empresarial completo que facilita o fluxo de informações entre todos os setores da empresa, tais como; produção, compras, vendas, estoque, fiscal, financeiro, expedição, cobrança e afins. O Sírius ERP está em constante atualização e crescimento e conta com mais de 12 mil usuários atendidos desde 1994. Disponibilizamos as melhores e mais avançadas tecnologias para atender de forma prática qualquer tipo de empresa de micro, pequeno, e médio porte. Oferecemos planos mensais ou anuais com descontos e não cobramos pela cópia do sistema. O nosso contrato mensal não possui fidelidade.',
            'Nosso suporte é remoto e online e atendemos em todo o território nacional.',
            'O Sírius ERP Atende completamente a Legislação Fiscal exigida pela SEFAZ e centenas de contabilidades nos indicam. Na Soft Clever você pode confiar.',
            'Conheça parte dos recursos disponíveis;'
        ]">
    </hero-section>
    <app-videos></app-videos>
    <landing-atacado-conteudo></landing-atacado-conteudo>
    <home-servicos></home-servicos>
</div>
<app-footer></app-footer>
