<div
  class="categoria-solucao-fiscal-categoria-solucao-fiscal"
  [ngClass]="rootClassName"
>
  <div class="categoria-solucao-fiscal-container">
    <h2 class="categoria-solucao-fiscal-text">{{ heading }}</h2>
    <span class="categoria-solucao-fiscal-text1">{{ text }}</span>
    <button class="categoria-solucao-fiscal-button button">{{ button }}</button>
  </div>
  <img
    [attr.alt]="Image_alt"
    [attr.src]="Image_src"
    loading="lazy"
    class="categoria-solucao-fiscal-image"
  />
</div>
