<div class="landing-servico-servicos-features">
  <h1 class="landing-servico-servicos-text">
    <span>Conheça nossos Serviços</span>
    <br />
  </h1>
  <div class="landing-servico-servicos-container">
    <a routerLink="/solucao-varejo" class="landing-servico-servicos-navlink">
      <solucoes-left
        title="Varejo"
        action="VEJA MAIS"
        image_src="https://www.datatilsynet.dk/Media/637939916318739371/Shopping.jpg?width=600"
        description="Emissor S@T fiscal e NFC-e com integração aos módulos Pré-venda, Delivery, Comandas, Sirius App Comandas e Pré-venda, Sirius Web Lojas, Sirius Market Place e cartão de crédito/TEF."
        rootClassName="rootClassName10"
        class="landing-servico-servicos-component"
      ></solucoes-left>
    </a>
    <a
      routerLink="/solucao-atacado-e-distribuicao"
      class="landing-servico-servicos-navlink1"
    >
      <solucoes-right
        title="Atacado e Distribuição"
        image_alt="Atacado e Distribuição"
        image_src="/assets/images/atacado-e-distribuicao-1500w.webp"
        description="NF-e, CT-e, NFS-e, Vendas, Liberação e Expedição de Pedidos, Reserva, Troca/Devolução, Financeiro, Cobrança, Compras e muito mais."
        rootClassName="solucoes-right-root-class-name6"
        class="landing-servico-servicos-component1"
      ></solucoes-right>
    </a>
    <a routerLink="/solucao-fiscal" class="landing-servico-servicos-navlink2">
      <solucoes-left
        title="Fiscal"
        action="VEJA MAIS"
        image_src="https://images.unsplash.com/photo-1579444741963-5ae219cfe27c?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE1N3x8ZmluYW5jZXxlbnwwfHx8fDE2ODI0MzM2MjQ&amp;ixlib=rb-4.0.3&amp;w=1500"
        description="Sped ICMS, IPI, Pis e Cofins e Bloco K completo."
        rootClassName="rootClassName4"
        class="landing-servico-servicos-component2"
      ></solucoes-left>
    </a>
  </div>
</div>
