<div class="solucao-fiscal-container">
    <app-menu></app-menu>
    <hero-section
        image="../../../assets/images/solucoes-fiscais-11-1500w.jpg"
        title="Fiscal"
        [paragraphs]="[
        'Sistema completo, simples e prático para emissão de qualquer tipo de documentos fiscais, tais como; Nota
        Fiscal Eletrônica (NF-e), Conhecimento de Transporte Eletrônico (CT-e) e Manifestação de Documentos
        Fiscais (MDF-e). Atuando em todos os estados, disponibilizamos as melhores funcionalidades para atender
        a qualquer tipo de empresa, seja comércio, distribuição, atacado e indústria. Atende a qualquer segmento
        do mercado e empresas de micro, pequeno e médio porte.',
        'Sistema homologado na Secretaria da Fazenda, atende completamente a toda Legislação Fiscal exigida pela
        SEFAZ de forma eficaz e totalmente simplificada.',
        'Oferecemos planos mensais ou anuais com descontos. Temos um pacote que cabe no seu bolso.',
        'Não cobramos pela cópia do sistema e o nosso contrato mensal não possui fidelidade.',
        'Nosso suporte é remoto e online e atendemos em todo o território nacional.',
        'As soluções fiscais da Soft Clever são indicadas por centenas de contabilidades.',
        'São mais de 12.000 usuários atendidos desde 1994. Na Soft Clever você pode confiar.']"
    ></hero-section>
    <app-videos></app-videos>
    <landing-fiscal></landing-fiscal>
    <home-servicos></home-servicos>
</div>
<app-footer></app-footer>
