<div class="solucao-fiscal-container">
  <div class="solucao-fiscal-hero-right">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1589829545856-d10d557cf95f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDR8fGp1c3RpY2V8ZW58MHx8fHwxNjgxMzE5NjYy&amp;ixlib=rb-4.0.3&amp;h=1500"
      loading="eager"
      class="solucao-fiscal-image"
    />
    <logo-icone rootClassName="logo-icone-root-class-name7"></logo-icone>
    <div class="solucao-fiscal-container1">
      <h1 class="solucao-fiscal-text">
        <span class="solucao-fiscal-text01">Fiscal</span>
        <br />
      </h1>
      <span class="solucao-fiscal-text03">
        <span>
          Soluções em sistemas para o varejo em geral, seja de micro, pequeno ou
          de médio porte.
        </span>
        <br />
        <span>
          Oferecemos planos mensais ou anuais com descontos. Temos um pacote que
          cabe no seu bolso.
        </span>
        <br />
        <span>
          Não cobramos pela cópia do sistema e o nosso contrato mensal não
          possui fidelidade.
        </span>
        <br />
        <span>
          Nosso suporte é remoto e online e atendemos em todo o território
          nacional.
        </span>
        <br />
        <span>
          O Sírius S@T Fiscal é homologado pela Sefaz-SP e é indicado por
          centenas de contadores.
        </span>
        <br />
        <span>
          São mais de 12.000 usuários atendidos desde 1994. Na Soft Clever você
          pode confiar.
        </span>
        <br />
        <span>
          Conheça abaixo as nossas soluções voltadas para o comércio varejista.
        </span>
        <br />
      </span>
      <botes-whatsctt></botes-whatsctt>
    </div>
  </div>
  <app-videos></app-videos>
  <div class="solucao-fiscal-container2">
    <div class="solucao-fiscal-text-left">
      <div class="solucao-fiscal-text-solution">
        <h1 class="solucao-fiscal-text18">Sírius S@T Fiscal / NFC-e</h1>
        <span class="solucao-fiscal-text19">
          <span>· Geração de Cupom Fiscal Eletrônico SAT</span>
          <br />
          <span>· Geração de Nota Fiscal de Consumidor Eletrônica NFC-e</span>
          <br />
          <span>· Preparado para atender a lei da transparência</span>
          <br />
          <span>· Geração de Nota Fiscal Paulista</span>
          <br />
          <span>· Integração com TEF (cartão de crédito)</span>
          <br />
          <span>· Rotinas de abertura e fechamento de caixa</span>
          <br />
          <span>· Controle de estoque</span>
        </span>
      </div>
      <div class="solucao-fiscal-text-solution01">
        <h1 class="solucao-fiscal-text33">Sírius Nf-e</h1>
        <span class="solucao-fiscal-text34">
          <span>· Geração de NFE a partir do pedido</span>
          <br />
          <span>· Digitação expressa de nfe de saída ou entrada</span>
          <br />
          <span>· Processos automatizados de;</span>
          <br />
          <span>· Cálculos de impostos, inclusive substituição tributária</span>
          <br />
          <span>· Cálculos de peso e volume</span>
          <br />
          <span>· Envio, autorização e retorno junto a SEFAZ</span>
          <br />
          <span>· Impressão da Danfe</span>
          <br />
          <span>· Geração e envio de arquivo XML</span>
          <br />
          <span>· Visualização da pré-danfe</span>
          <br />
          <span>· Rotinas de cancelamento e inutilização</span>
          <br />
          <span>· Geração de notas de importação</span>
          <br />
          <span>· Carta de correção, nota complementar e afins</span>
        </span>
      </div>
      <div class="solucao-fiscal-text-solution02">
        <h1 class="solucao-fiscal-text58">
          Sírius S@T Safira – Para todo o comércio varejista
        </h1>
        <span class="solucao-fiscal-text59">
          <span>· Possui todos os recursos do Sírius S@T Fiscal</span>
          <br />
          <span>· Módulo Financeiro a pagar</span>
          <br />
          <span>· Módulo Financeiro a receber</span>
          <br />
          <span>· Pedidos de compras</span>
        </span>
      </div>
      <div class="solucao-fiscal-text-solution03">
        <h1 class="solucao-fiscal-text67">Sírius Óticas</h1>
        <span class="solucao-fiscal-text68">
          Cadastro de laboratórios, oftalmologistas e afins. Controle de lentes,
          armações, marcas e modelos. Controle de ordens de serviços. Gera o
          cupom fiscal de forma automatizada através do Sírius SAT.
        </span>
      </div>
    </div>
    <div class="solucao-fiscal-images">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1601642263169-e6159cd2320e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxidXRjaGVyfGVufDB8fHx8MTY4MTMxMjY4Mg&amp;ixlib=rb-4.0.3&amp;w=500"
        loading="lazy"
        class="solucao-fiscal-image1"
      />
      <div class="solucao-fiscal-left-images">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1625980344922-a4df108b2bd0?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fGJpbGx8ZW58MHx8fHwxNjgxMzEzMzE2&amp;ixlib=rb-4.0.3&amp;h=1500"
          loading="lazy"
          class="solucao-fiscal-image2"
        />
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1634733988138-bf2c3a2a13fa?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDJ8fGJpbGx8ZW58MHx8fHwxNjgxMzEzMzE2&amp;ixlib=rb-4.0.3&amp;h=1500"
          class="solucao-fiscal-image3"
        />
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1443934732608-9de53a872e32?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fG9wdGljfGVufDB8fHx8MTY4MTMxMzg5NA&amp;ixlib=rb-4.0.3&amp;w=500"
          class="solucao-fiscal-image4"
        />
      </div>
      <div class="solucao-fiscal-right-images">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1588675646184-f5b0b0b0b2de?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHJlc3RhdXJhbnQlMjBiaWxsfGVufDB8fHx8MTY4MTMxMzM0MQ&amp;ixlib=rb-4.0.3&amp;w=500"
          class="solucao-fiscal-image5"
        />
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1618007625018-51cbd56c0520?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDMzfHxkZWxpdmVyeXxlbnwwfHx8fDE2ODEzMTMzNTY&amp;ixlib=rb-4.0.3&amp;h=1500"
          class="solucao-fiscal-image6"
        />
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1638981367648-d4909c40ab16?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI3fHxwaXp6ZXJpYXxlbnwwfHx8fDE2ODEzMTM2MTc&amp;ixlib=rb-4.0.3&amp;h=1500"
          class="solucao-fiscal-image7"
        />
      </div>
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1529472119196-cb724127a98e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDR8fHBldCUyMHNob3B8ZW58MHx8fHwxNjgxMzE0MzYx&amp;ixlib=rb-4.0.3&amp;w=500"
        class="solucao-fiscal-image8"
      />
    </div>
    <div class="solucao-fiscal-text-right">
      <div class="solucao-fiscal-text-solution04">
        <h1 class="solucao-fiscal-text69">
          Sírius Pré Venda / Balcão – Lojas em geral
        </h1>
        <span class="solucao-fiscal-text70">
          Geração de orçamento, pedido de venda, baixa de estoque e afins. Ideal
          para o lojista que emite pedidos de venda e possui mais de um ponto de
          venda na loja. Gera o cupom fiscal de forma automatizada através do
          Sírius SAT.
        </span>
      </div>
      <div class="solucao-fiscal-text-solution05">
        <h1 class="solucao-fiscal-text71">
          Sírius Comanda / Mesas – Alimentação em Geral
        </h1>
        <span class="solucao-fiscal-text72">
          Geração de orçamento, pedido de venda, baixa de estoque e afins. Ideal
          para o lojista que emite pedidos de venda e possui mais de um ponto de
          venda na loja. Gera o cupom fiscal de forma automatizada através do
          Sírius SAT.
        </span>
      </div>
      <div class="solucao-fiscal-text-solution06">
        <h1 class="solucao-fiscal-text73">
          Sírius Delivery – Alimentação em Geral
        </h1>
        <span class="solucao-fiscal-text74">
          Controle das entregas para comércio em geral. Gera o cupom fiscal de
          forma automatizada através do Sírius SAT.
        </span>
      </div>
      <div class="solucao-fiscal-text-solution07">
        <h1 class="solucao-fiscal-text75">Sírius Pizzarias</h1>
        <span class="solucao-fiscal-text76">
          Recursos voltados exclusivamente as pizzarias como; promoção de
          vendas, fracionamento da pizza (2 ou mais sabores), observações
          enviadas a cozinha em relação a montagem da pizza e muito mias. Gera o
          cupom fiscal de forma automatizada através do Sírius SAT.
        </span>
      </div>
      <div class="solucao-fiscal-text-solution08">
        <h1 class="solucao-fiscal-text77">Sírius iFood</h1>
        <span class="solucao-fiscal-text78">
          Captura os pedidos do iFood, monta o pedido de venda e executa o
          despacho de forma rápida e fácil. Gera o cupom fiscal de forma
          automatizada através do Sírius SAT.
        </span>
      </div>
      <div class="solucao-fiscal-text-solution09">
        <h1 class="solucao-fiscal-text79">Sírius Pet Shop</h1>
        <span class="solucao-fiscal-text80">
          Controle de raça, tipo de pelagem, tutor, vacinação, agendamentos,
          atendimentos e muito mais. Gera o cupom fiscal de forma automatizada
          através do Sírius SAT.
        </span>
      </div>
    </div>
  </div>
  <div class="solucao-fiscal-features">
    <h1 class="solucao-fiscal-text81">
      <span>Conheça nossos Serviços</span>
      <br />
    </h1>
    <div class="solucao-fiscal-container3">
      <a transitionTo="/solucao-varejo">
        <solucoes-right
          title="Varejo"
          image_alt="Atacado e Distribuição"
          image_src="/assets/playground_assets/comercio-varejista-200h.webp"
          description="NF-e, CT-e, NFS-e, Vendas, Liberação e Expedição de Pedidos, Reserva, Troca/Devolução, Financeiro, Cobrança, Compras e muito mais."
          rootClassName="solucoes-right-root-class-name8"
          class="solucao-fiscal-component2"
        ></solucoes-right>
      </a>
      <a transitionTo="/solucao-atacado--distribuicao">
        <solucoes-left
          title="Atacado e Distribuição"
          action="VEJA MAIS"
          image_src="/assets/playground_assets/atacado-e-distribuicao-200h.webp"
          description="NF-e, CT-e, NFS-e, Vendas, Liberação e Expedição de Pedidos, Reserva, Troca/Devolução, Financeiro, Cobrança, Compras e muito mais."
          rootClassName="rootClassName7"
          class="solucao-fiscal-component3"
        ></solucoes-left>
      </a>
      <a transitionTo="/solucao-industria--servico">
        <solucoes-right
          title="Indústria e Serviço"
          image_alt="Fiscal"
          image_src="https://images.unsplash.com/photo-1455165814004-1126a7199f9b?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fGluZHVzdHJ5fGVufDB8fHx8MTY4MTMxOTI5MA&amp;ixlib=rb-4.0.3&amp;w=400"
          description="Ordens de produção com explosão de matéria prima e lote. Controle Completo de Assistência Técnica."
          rootClassName="solucoes-right-root-class-name11"
          class="solucao-fiscal-component4"
        ></solucoes-right>
      </a>
    </div>
  </div>
  <app-footer rootClassName="footer-root-class-name4"></app-footer>
</div>
