<div class="landing-atacado-servicos-features">
  <h1 class="landing-atacado-servicos-text">
    <span>Conheça nossos Serviços</span>
    <br />
  </h1>
  <nav class="landing-atacado-servicos-container">
    <a routerLink="/solucao-varejo" class="landing-atacado-servicos-navlink">
      <solucoes-left
        title="Varejo"
        action="VEJA MAIS"
        image_src="https://www.datatilsynet.dk/Media/637939916318739371/Shopping.jpg?width=600"
        description="Emissor S@T fiscal e NFC-e com integração aos módulos Pré-venda, Delivery, Comandas, Sirius App Comandas e Pré-venda, Sirius Web Lojas, Sirius Market Place e cartão de crédito/TEF."
        rootClassName="rootClassName8"
        class="landing-atacado-servicos-component"
      ></solucoes-left>
    </a>
    <a
      routerLink="/solucao-industria--servico"
      class="landing-atacado-servicos-navlink1"
    >
      <solucoes-right
        title="Indústria e Serviço"
        image_alt="Fiscal"
        image_src="https://www.ezelogs.com/blog/blogs-16.webp"
        description="Ordens de produção com explosão de matéria prima e lote. Controle Completo de Assistência Técnica."
        rootClassName="solucoes-right-root-class-name5"
        class="landing-atacado-servicos-component1"
      ></solucoes-right>
    </a>
    <a routerLink="/solucao-fiscal" class="landing-atacado-servicos-navlink2">
      <solucoes-left
        title="Fiscal"
        action="VEJA MAIS"
        image_src="https://images.unsplash.com/photo-1579444741963-5ae219cfe27c?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE1N3x8ZmluYW5jZXxlbnwwfHx8fDE2ODI0MzM2MjQ&amp;ixlib=rb-4.0.3&amp;w=1500"
        description="Sped ICMS, IPI, Pis e Cofins e Bloco K completo."
        rootClassName="rootClassName3"
        class="landing-atacado-servicos-component2"
      ></solucoes-left>
    </a>
  </nav>
</div>
