<div class="landing-sat-hero-section-hero-right">
    <img alt="image" src="/assets/images/mulher-com-tablet-1500h.webp" loading="eager"
        class="landing-sat-hero-section-image" />
    <div class="landing-sat-hero-section-container">
        <div class="landing-sat-hero-section-container-padding">
            <h1 class="landing-sat-hero-section-heading">{{ heading }}</h1>
            <p>
                Soluções em sistemas para o varejo em geral, seja de micro, pequeno ou
                de médio porte.
            </p>
            <p>
                Oferecemos planos mensais ou anuais com descontos. Temos um pacote que
                cabe no seu bolso.
            </p>
            <p>
                Não cobramos pela cópia do sistema e o nosso contrato mensal não possui
                fidelidade.
            </p>
            <p>
                Nosso suporte é remoto e online e atendemos em todo o território
                nacional.
            </p>
            <p>
                O Sírius S@T Fiscal é homologado pela Sefaz-SP e é indicado por centenas
                de contadores.
            </p>
            <p>
                São mais de 12.000 usuários atendidos desde 1994. Na Soft Clever você
                pode confiar.
            </p>
            <p>
                Conheça abaixo as nossas soluções voltadas para o comércio varejista.
            </p>
            <botes-whatsctt></botes-whatsctt>
        </div>
    </div>
</div>