<nav class="navigation-links2-nav" [ngClass]="rootClassName">
  <a routerLink="/solucao-varejo" class="navigation-links2-navlink">
    {{ text }}
  </a>
  <a
    routerLink="/solucao-atacado--distribuicao"
    class="navigation-links2-navlink1"
  >
    {{ text1 }}
  </a>
  <a
    routerLink="/solucao-industria--servico"
    class="navigation-links2-navlink2"
  >
    {{ text2 }}
  </a>
  <a routerLink="/solucao-fiscal" class="navigation-links2-navlink3">
    {{ text3 }}
  </a>
  <a routerLink="/contato" class="navigation-links2-navlink4 button">
    <span>
      <span class="navigation-links2-text1">Contato</span>
      <br />
    </span>
  </a>
</nav>
