:host { 
  display: contents; 
}
.campo-forms-container {
  display: flex;
  position: relative;
  flex-direction: column;
}
.campo-forms-text {
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.campo-forms-textinput {
  border-radius: 20px;
}
.campo-forms-root-class-name {
  margin-bottom: var(--dl-space-space-twounits);
}
.campo-forms-root-class-name1 {
  margin-bottom: var(--dl-space-space-twounits);
}
.campo-forms-root-class-name2 {
  margin-bottom: var(--dl-space-space-twounits);
}
.campo-forms-root-class-name3 {
  margin-bottom: var(--dl-space-space-twounits);
}
