:host { 
  display: contents; 
}
.campo-forms-container {
  display: flex;
  position: relative;
  flex-direction: column;
}
.campo-forms-textinput {
  border-color: var(--dl-color-gray-aaaaaa);
  border-radius: 20px;
}
