<app-menu></app-menu>
<div class="home-hero">
    <div class="home-hero-container">
        <div class="home-hero-container-content">
            <h1>Soft Clever</h1>
            <div class="home-hero-container-text">
                <p>Mais de 12.000 usuários atendidos.</p>
                <p>Desenvolvemos soluções desde 1994.</p>
                <p>Somos indicados por centenas de contadores.</p>
            </div>
            <botes-whatsctt></botes-whatsctt>
        </div>
    </div>
    <img alt="image" src="assets/images/jpg/home - hero.jpg" loading="eager" class="home-image" />
</div>
<div class="home-section">
    <img alt="image"
        src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fGJ1c2luZXNzcGVyc29ufGVufDB8fHx8MTY4MTEzMzU1MQ&amp;ixlib=rb-4.0.3&amp;h=1500"
        loading="lazy" class="home-image" />
    <div class="home-section-container">
        <div class="home-section-container-content">
            <h1>Desenvolvido para
                <span class="home-heading-highlight">você</span>
            </h1>
            <div class="home-section-container-text">
                <p>A gestão empresarial para seu negócio nunca foi tão fácil.</p>
                <p>Temos sistemas para micro, pequena e média empresa.</p>
            </div>
            <botes-whatsctt></botes-whatsctt>
        </div>
    </div>

</div>

<app-videos></app-videos>
<app-contact-form></app-contact-form>
<home-servicos></home-servicos>
<app-footer></app-footer>