<div class="home-container">
  <div class="home-hero">
    <div class="home-container1">
      <h1 class="home-text">Soft Clever</h1>
      <span class="home-text01">
        <span>Mais de 12.000 usuários atendidos.</span>
        <br />
        <span>Desenvolvemos soluções desde 1994.</span>
        <br />
        <span>Somos indicados por centenas de contadores.</span>
        <br />
      </span>
      <botes-whatsctt></botes-whatsctt>
    </div>
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1543269664-7eef42226a21?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDQ4fHxsYXB0b3B8ZW58MHx8fHwxNjgxMTI3OTcy&amp;ixlib=rb-4.0.3&amp;h=1500"
      loading="eager"
      class="home-image"
    />
    <logo-icone rootClassName="logo-icone-root-class-name"></logo-icone>
  </div>
  <div class="home-gallery-card">
    <div class="home-container2">
      <h1 class="home-heading">
        <span>
          Desenvolvido para
          <span [innerHTML]="raww3nd"></span>
        </span>
        <span class="home-text09">você</span>
      </h1>
      <span class="home-text10">
        <span>A gestão empresarial para seu negócio nunca foi tão fácil.</span>
        <br />
        <span>Temos sistemas para micro, pequena e média empresa.</span>
      </span>
      <botes-whatsctt
        rootClassName="botes-whatsctt-root-class-name"
      ></botes-whatsctt>
    </div>
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fGJ1c2luZXNzcGVyc29ufGVufDB8fHx8MTY4MTEzMzU1MQ&amp;ixlib=rb-4.0.3&amp;h=1500"
      loading="lazy"
      class="home-image1"
    />
  </div>
  <app-videos></app-videos>
  <div class="home-features">
    <h1 class="home-text14">
      <span>Conheça nossos Serviços</span>
      <br />
    </h1>
    <div class="home-container3">
      <a transitionTo="/solucao-varejo">
        <solucoes-left
          title="Varejo"
          action="VEJA MAIS"
          description="Emissor S@T fiscal e NFC-e com integração aos módulos Pré-venda, Delivery, Comandas, Sirius App Comandas e Pré-venda, Sirius Web Lojas, Sirius Market Place e cartão de crédito/TEF."
          rootClassName="rootClassName"
          class="home-component3"
        ></solucoes-left>
      </a>
      <a transitionTo="/solucao-atacado--distribuicao">
        <solucoes-right
          title="Atacado e Distribuição"
          image_alt="Atacado e Distribuição"
          image_src="/assets/playground_assets/atacado-e-distribuicao-200h.webp"
          description="NF-e, CT-e, NFS-e, Vendas, Liberação e Expedição de Pedidos, Reserva, Troca/Devolução, Financeiro, Cobrança, Compras e muito mais."
          rootClassName="solucoes-right-root-class-name1"
          class="home-component4"
        ></solucoes-right>
      </a>
      <a transitionTo="/solucao-industria--servico">
        <solucoes-left
          title="Indústria e Serviço"
          action="VEJA MAIS"
          image_src="https://images.unsplash.com/photo-1455165814004-1126a7199f9b?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fGluZHVzdHJ5fGVufDB8fHx8MTY4MTIyNDgxNw&amp;ixlib=rb-4.0.3&amp;h=200"
          description="Ordens de produção com explosão de matéria prima e lote. Controle Completo de Assistência Técnica."
          rootClassName="rootClassName5"
          class="home-component5"
        ></solucoes-left>
      </a>
      <a transitionTo="/solucao-fiscal">
        <solucoes-right
          title="Fiscal"
          image_alt="Fiscal"
          image_src="https://images.unsplash.com/photo-1626266061368-46a8f578ddd6?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fGNhbGN1bGF0b3J8ZW58MHx8fHwxNjgxMjI0ODg0&amp;ixlib=rb-4.0.3&amp;h=200"
          description="Sped ICMS, IPI, Pis e Cofins e Bloco K completo."
          rootClassName="solucoes-right-root-class-name"
          class="home-component6"
        ></solucoes-right>
      </a>
    </div>
  </div>
  <app-footer></app-footer>
</div>
