<div
  class="categoria-solucao-industria-categoria-solucao-industria"
  [ngClass]="rootClassName"
>
  <img
    [attr.alt]="Image_alt"
    [attr.src]="Image_src"
    loading="lazy"
    class="categoria-solucao-industria-image"
  />
  <div class="categoria-solucao-industria-container">
    <h2 class="categoria-solucao-industria-text">{{ heading }}</h2>
    <span class="categoria-solucao-industria-text1">{{ text }}</span>
    <button class="categoria-solucao-industria-button button">
      {{ button }}
    </button>
  </div>
</div>
