<div class="landing-atacado-hero-section-hero-right">
  <img
    alt="image"
    src="https://i.pinimg.com/originals/f7/05/48/f70548a9271bf9df31196e0dd267281b.png"
    loading="eager"
    class="landing-atacado-hero-section-image"
  />
  <div class="landing-atacado-hero-section-container">
    <h1 class="landing-atacado-hero-section-text">{{ titulo }}</h1>
    <span class="landing-atacado-hero-section-text1">
      <span>
        Sistema de gestão empresarial completo que facilita o fluxo de
        informações entre todos os setores da empresa, tais como; produção,
        compras, vendas, estoque, fiscal, financeiro, expedição, cobrança e
        afins. O Sírius ERP está em constante atualização e crescimento e conta
        com mais de 12 mil usuários atendidos desde 1994. Disponibilizamos as
        melhores e mais avançadas tecnologias para atender de forma prática
        qualquer tipo de empresa de micro, pequeno, e médio porte. Oferecemos
        planos mensais ou anuais com descontos e não cobramos pela cópia do
        sistema. O nosso contrato mensal não possui fidelidade.
      </span>
      <br />
      <span>
        Nosso suporte é remoto e online e atendemos em todo o território
        nacional.
      </span>
      <br />
      <span>
        O Sírius ERP Atende completamente a Legislação Fiscal exigida pela SEFAZ
        e centenas de contabilidades nos indicam. Na Soft Clever você pode
        confiar.
      </span>
      <br />
      <span>Conheça parte dos recursos disponíveis;</span>
    </span>
    <botes-whatsctt></botes-whatsctt>
  </div>
</div>
