
.landing-atacado-hero-section-hero-right {
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: stretch;
  margin-top: 64px;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.landing-atacado-hero-section-image {
  width: 35%;
  height: auto;
  align-self: flex-end;
  object-fit: cover;
}
.landing-atacado-hero-section-container {
  width: 50%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.landing-atacado-hero-section-text {
  font-size: 3rem;
}
.landing-atacado-hero-section-text1 {
  width: 100%;
  margin-top: var(--dl-space-space-twounits);
  text-align: justify;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
@media (max-width: 991px) {
  .landing-atacado-hero-section-hero-right {
    align-items: stretch;
    justify-content: space-between;
  }
  .landing-atacado-hero-section-image {
    width: 30%;
    align-self: flex-end;
  }
  .landing-atacado-hero-section-container {
    width: 70%;
    height: auto;
    align-self: stretch;
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .landing-atacado-hero-section-text {
    text-align: center;
  }
  .landing-atacado-hero-section-text1 {
    align-self: flex-start;
    margin-top: var(--dl-space-space-fourunits);
    text-align: left;
    margin-bottom: var(--dl-space-space-fourunits);
  }
}
@media (max-width: 767px) {
  .landing-atacado-hero-section-image {
    display: none;
  }
  .landing-atacado-hero-section-container {
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-threeunits);
    margin-right: 0px;
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: center;
  }
  .landing-atacado-hero-section-text1 {
    text-align: justify;
  }
}
@media (max-width: 479px) {
  .landing-atacado-hero-section-text1 {
    margin-top: var(--dl-space-space-twounits);
    text-align: justify;
    line-height: 1.5;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
