<div class="sat-content">
    <div class="sat-content-container">
        <div class="sat-content-container-30">
            <div class="sat-content-container-section">
                <img alt="imagem" src="https://images.unsplash.com/photo-1554224155-6726b3ff858f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE0fHxmaW5hbmNlfGVufDB8fHx8MTY4MTM5OTUyMQ&ixlib=rb-4.0.3&w=700"/>
                <h1>Sírius S@T Fiscal / NFC-e</h1>

                <p>Geração de Cupom Fiscal Eletrônico SAT</p>
                <p>Geração de Nota Fiscal de Consumidor Eletrônica NFC-e</p>
                <p>Preparado para atender a lei da transparência</p>
                <p>Geração de Nota Fiscal Paulista</p>
                <p>Integração com TEF (cartão de crédito)</p>
                <p>Rotinas de abertura e fechamento de caixa</p>
                <p>Controle de estoque</p>

            </div>
            <div class="sat-content-container-section">
                <img alt="imagem" src="https://images.unsplash.com/photo-1625980344922-a4df108b2bd0?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fGJpbGx8ZW58MHx8fHwxNjgxMzEzMzE2&ixlib=rb-4.0.3&w=700" loading="lazy"
                   />
                <h1>Sírius Nf-e</h1>
                <p>Geração de NFE a partir do pedido</p>
                <p>Digitação expressa de nfe de saída ou entrada</p>
                <p>Processos automatizados de;</p>
                <p>Cálculos de impostos, inclusive substituição tributária</p>
                <p>Cálculos de peso e volume</p>
                <p>Envio, autorização e retorno junto a SEFAZ</p>
                <p>Impressão da Danfe</p>
                <p>Geração e envio de arquivo XML</p>
                <p>Visualização da pré-danfe</p>
                <p>Rotinas de cancelamento e inutilização</p>
                <p>Geração de notas de importação</p>
                <p>Carta de correção, nota complementar e afins</p>
            </div>
            <div class="sat-content-container-section">
                <img alt="imagem" src="https://images.unsplash.com/photo-1544377193-33dcf4d68fb5?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDZ8fGZpbmFuY2V8ZW58MHx8fHwxNjgxMzk5NTIx&ixlib=rb-4.0.3&w=700" loading="lazy"
                   />
                <h1>Sírius S@T Safira – Para todo o comércio varejista</h1>
                <p>Possui todos os recursos do Sírius S@T Fiscal</p>
                <p>Módulo Financeiro a pagar</p>
                <p>Módulo Financeiro a receber</p>
                <p>Pedidos de compras</p>
            </div>
            <div class="sat-content-container-section">
                <img alt="imagem" src="https://images.unsplash.com/photo-1443934732608-9de53a872e32?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fG9wdGljc3xlbnwwfHx8fDE2ODE0MDYzMzI&ixlib=rb-4.0.3&w=700"/>
                <h1>Sírius Óticas</h1>
                <p>Cadastro de laboratórios, oftalmologistas e afins. Controle de lentes, armações, marcas e modelos.
                    Controle de ordens de serviços. Gera o cupom fiscal de forma automatizada através do Sírius SAT.</p>
            </div>
        </div>
        <div class="sat-content-container-mid">
            <img alt="imagem" src="/assets/images/feliz-modernos-mulher-com-bolsas-para-compras-vertical-2-500w.jpg" loading="lazy" class="sat-content-container-mid-image" />
        </div>
        <div class="sat-content-container-30">
            <div class="sat-content-container-section">
                <img alt="imagem" src="https://images.unsplash.com/photo-1601642263169-e6159cd2320e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxidXRjaGVyfGVufDB8fHx8MTY4MTMxMjY4Mg&ixlib=rb-4.0.3&w=700" loading="lazy"
                   />
                <h1>Sírius Pré Venda / Balcão – Lojas em geral</h1>
                <p>Geração de orçamento, pedido de venda, baixa de estoque e afins. Ideal para o lojista que emite
                    pedidos de venda e possui mais de um ponto de venda na loja. Gera o cupom fiscal de forma
                    automatizada através do Sírius SAT.</p>
            </div>
            <div class="sat-content-container-section">
                <img alt="imagem" src="https://images.unsplash.com/photo-1588675646184-f5b0b0b0b2de?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHJlc3RhdXJhbnQlMjBiaWxsfGVufDB8fHx8MTY4MTMxMzM0MQ&ixlib=rb-4.0.3&w=700"/>
                <h1>Sírius Comanda / Mesas – Alimentação em Geral</h1>
                <p>Geração de orçamento, pedido de venda, baixa de estoque e afins. Ideal para o lojista que emite
                    pedidos de venda e possui mais de um ponto de venda na loja. Gera o cupom fiscal de forma
                    automatizada através do Sírius SAT.</p>
            </div>
            <div class="sat-content-container-section">
                <img alt="imagem" src="https://images.unsplash.com/photo-1638981367648-d4909c40ab16?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI3fHxwaXp6ZXJpYXxlbnwwfHx8fDE2ODEzMTM2MTc&ixlib=rb-4.0.3&w=700"/>
                <h1>Sírius Pizzarias</h1>
                <p>Recursos voltados exclusivamente as pizzarias como; promoção de vendas, fracionamento da pizza (2 ou
                    mais sabores), observações enviadas a cozinha em relação a montagem da pizza e muito mias. Gera o
                    cupom fiscal de forma automatizada através do Sírius SAT.</p>
            </div>
            <div class="sat-content-container-section">
                <img alt="imagem" src="https://static.poder360.com.br/2020/05/Delivery-Ifood-Motoboy-Bike-Ciclista-Entregadores-5-1.jpg"/>
                <h1>Sírius iFood</h1>
                <p>Captura os pedidos do iFood, monta o pedido de venda e executa o despacho de forma rápida e fácil.
                    Gera o cupom fiscal de forma automatizada através do Sírius SAT.</p>
            </div>
            <div class="sat-content-container-section">
                <img alt="imagem" src="https://uploads.metropoles.com/wp-content/uploads/2021/07/07140330/Design-sem-nome-60-1-600x400.jpg"/>
                <h1>Sírius Pet Shop</h1>
                <p>Controle de raça, tipo de pelagem, tutor, vacinação, agendamentos, atendimentos e muito mais. Gera o
                    cupom fiscal de forma automatizada através do Sírius SAT.</p>
            </div>
        </div>
    </div>
</div>