<div class="sat-content">
    <div class="sat-content-container">
        <div class="sat-content-container-left">
            <div class="sat-content-container-section">
                <img [attr.alt]="image_alt1" [attr.src]="image_src1" class="landing-sat-conteudo-image" />
                <h1 class="landing-sat-conteudo-text">{{ heading }}</h1>
                <p class="landing-sat-conteudo-text01">
                    <span>· Geração de Cupom Fiscal Eletrônico SAT</span>
                    <br />
                    <span>· Geração de Nota Fiscal de Consumidor Eletrônica NFC-e</span>
                    <br />
                    <span>· Preparado para atender a lei da transparência</span>
                    <br />
                    <span>· Geração de Nota Fiscal Paulista</span>
                    <br />
                    <span>· Integração com TEF (cartão de crédito)</span>
                    <br />
                    <span>· Rotinas de abertura e fechamento de caixa</span>
                    <br />
                    <span>· Controle de estoque</span>
                </p>
            </div>
            <div class="sat-content-container-section">
                <img [attr.alt]="image_alt2" [attr.src]="image_src2" loading="lazy"
                    class="landing-sat-conteudo-image01" />
                <h1 class="landing-sat-conteudo-text15">{{ heading1 }}</h1>
                <p class="landing-sat-conteudo-text16">
                    <span>· Geração de NFE a partir do pedido</span>
                    <br />
                    <span>· Digitação expressa de nfe de saída ou entrada</span>
                    <br />
                    <span>· Processos automatizados de;</span>
                    <br />
                    <span>· Cálculos de impostos, inclusive substituição tributária</span>
                    <br />
                    <span>· Cálculos de peso e volume</span>
                    <br />
                    <span>· Envio, autorização e retorno junto a SEFAZ</span>
                    <br />
                    <span>· Impressão da Danfe</span>
                    <br />
                    <span>· Geração e envio de arquivo XML</span>
                    <br />
                    <span>· Visualização da pré-danfe</span>
                    <br />
                    <span>· Rotinas de cancelamento e inutilização</span>
                    <br />
                    <span>· Geração de notas de importação</span>
                    <br />
                    <span>· Carta de correção, nota complementar e afins</span>
                </p>
            </div>
            <div class="sat-content-container-section">
                <img [attr.alt]="image_alt3" [attr.src]="image_src3" loading="lazy"
                    class="landing-sat-conteudo-image02" />
                <h1 class="landing-sat-conteudo-text40">{{ heading2 }}</h1>
                <p class="landing-sat-conteudo-text41">
                    <span>· Possui todos os recursos do Sírius S@T Fiscal</span>
                    <br />
                    <span>· Módulo Financeiro a pagar</span>
                    <br />
                    <span>· Módulo Financeiro a receber</span>
                    <br />
                    <span>· Pedidos de compras</span>
                </p>
            </div>
            <div class="sat-content-container-section">
                <img [attr.alt]="image_alt4" [attr.src]="image_src4" class="landing-sat-conteudo-image03" />
                <h1 class="landing-sat-conteudo-text49">{{ heading3 }}</h1>
                <p class="landing-sat-conteudo-text50">{{ text }}</p>
            </div>
        </div>
        <div class="sat-content-container-mid">
            <img [attr.alt]="image_alt" [attr.src]="image_src" loading="lazy" class="landing-sat-conteudo-image04" />
        </div>
        <div class="sat-content-container-right">
            <div class="sat-content-container-section">
                <img [attr.alt]="image_alt5" [attr.src]="image_src5" loading="lazy"
                    class="landing-sat-conteudo-image05" />
                <h1 class="landing-sat-conteudo-text51">{{ heading4 }}</h1>
                <p class="landing-sat-conteudo-text52">{{ text1 }}</p>
            </div>
            <div class="sat-content-container-section">
                <img [attr.alt]="image_alt6" [attr.src]="image_src6" class="landing-sat-conteudo-image06" />
                <h1 class="landing-sat-conteudo-text53">{{ heading5 }}</h1>
                <p class="landing-sat-conteudo-text54">{{ text2 }}</p>
            </div>
            <div class="sat-content-container-section">
                <img [attr.alt]="image_alt7" [attr.src]="image_src7" class="landing-sat-conteudo-image07" />
                <h1 class="landing-sat-conteudo-text55">{{ heading6 }}</h1>
                <p class="landing-sat-conteudo-text56">{{ text3 }}</p>
            </div>
            <div class="sat-content-container-section">
                <img [attr.alt]="image_alt8" [attr.src]="image_src8" class="landing-sat-conteudo-image08" />
                <h1 class="landing-sat-conteudo-text57">{{ heading7 }}</h1>
                <p class="landing-sat-conteudo-text58">{{ text4 }}</p>
            </div>
            <div class="sat-content-container-section">
                <img [attr.alt]="image_alt9" [attr.src]="image_src9" class="landing-sat-conteudo-image09" />
                <h1 class="landing-sat-conteudo-text59">{{ heading8 }}</h1>
                <p class="landing-sat-conteudo-text60">{{ text5 }}</p>
            </div>
        </div>
    </div>
</div>