.solution {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    border-radius: var(--border-radius);

    box-shadow: var(--box-shadow);

    background-color: var(--gray-f1);

    overflow: hidden;

    .solution-image {
        width: 100%;
        height: 180px;
        align-self: flex-start;
        object-fit: cover;
    }

    .solution-container {
        padding: 16px;
    
        display: flex;
        flex-direction: column;
    
        align-self: stretch;
        justify-content: center;

        .solution-container-heading {
            color: var(--dl-color-gray-000000);
            text-align: left;
            transition: 150;
            line-height: 1.5;
            padding-top: var(--dl-space-space-halfunit);
            padding-left: var(--dl-space-space-twounits);
            padding-right: var(--dl-space-space-twounits);
            padding-bottom: var(--dl-space-space-halfunit);
        }
        
        .solution-container-heading:hover {
            text-decoration: underline;
        }
        
        .solution-container-text {
            color: var(--dl-color-gray-000000);
            transition: 150ms;
            line-height: 1.5;
            padding-top: var(--dl-space-space-unit);
            padding-left: var(--dl-space-space-twounits);
            padding-right: var(--dl-space-space-twounits);
            padding-bottom: var(--dl-space-space-unit);
        }
        
        .solution-container-text:hover {
            text-decoration: underline;
        }
        
        .solution-container-button {
            display: none;
            margin-top: var(--dl-space-space-unit);
            border-width: 0px;
            margin-bottom: var(--dl-space-space-unit);
        }
        
        
    }
}





@media (max-width: 991px) {
    .solution-container {
        margin-right: 0px;
    }

    .solution-container-heading {
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: 0px;
    }

    .solution-container-text {
        padding-top: 0px;
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
    }

    .categoria-solucao-atacado-image {
        margin-bottom: 0px;
    }
}
