:host {
  display: contents;
}
.component-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-bgpastel-begebg);
}
.component-container1 {
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: stretch;
  justify-content: space-between;
}
.component-text-left {
  flex: 0 0 auto;
  width: 30%;
  height: 100%;
  display: flex;
  align-self: stretch;
  max-height: 100%;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.component-text-solution {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.component-image {
  width: 100%;
  height: 175px;
  display: none;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 16px;
  object-position: 0 -170px;
}
.component-text {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.component-text01 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.component-text-solution1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.component-image01 {
  width: 100%;
  height: 175px;
  display: none;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 16px;
  object-position: 0 -170px;
}
.component-text02 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.component-text03 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.component-text-solution2 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.component-image02 {
  width: 100%;
  height: 175px;
  display: none;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 16px;
  object-position: 0 -170px;
}
.component-text04 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.component-text05 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.component-text-solution3 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.component-image03 {
  width: 100%;
  height: 175px;
  display: none;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 16px;
  object-position: 0 -170px;
}
.component-text06 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.component-text07 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.component-images {
  flex: 0 0 auto;
  width: 35%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.component-image04 {
  width: 100%;
  height: 100%;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 16px;
}
.component-text-right {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.component-text-solution4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.component-image05 {
  width: 100%;
  height: 175px;
  display: none;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 16px;
}
.component-text08 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.component-text09 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.component-text-solution5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.component-image06 {
  width: 100%;
  height: 175px;
  display: none;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 16px;
  object-position: 0 -170px;
}
.component-text10 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.component-text11 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.component-text-solution6 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.component-image07 {
  width: 100%;
  height: 175px;
  display: none;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 16px;
  object-position: 0 -170px;
}
.component-text12 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.component-text13 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.component-text-solution7 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.component-image08 {
  width: 100%;
  height: 175px;
  display: none;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 16px;
  object-position: 0 -170px;
}
.component-text14 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.component-text15 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
.component-text-solution8 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.component-image09 {
  width: 100%;
  height: 175px;
  display: none;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 16px;
  object-position: 0 -170px;
}
.component-text16 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.component-text17 {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
}
@media (max-width: 991px) {
  .component-text-left {
    width: 50%;
    padding: var(--dl-space-space-twounits);
  }
  .component-image {
    height: fit-content;
    max-height: 175px;
    object-position: center;
  }
  .component-image01 {
    height: fit-content;
    max-height: 175px;
    object-position: center;
  }
  .component-image02 {
    height: fit-content;
    max-height: 175px;
    object-position: center;
  }
  .component-image03 {
    height: fit-content;
    max-height: 175px;
    object-position: center;
  }
  .component-images {
    width: 30%;
    height: auto;
    display: none;
    min-width: auto;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .component-text-right {
    width: 50%;
    padding: var(--dl-space-space-twounits);
  }
  .component-image05 {
    height: fit-content;
    max-height: 175px;
    object-position: center;
  }
  .component-image06 {
    height: fit-content;
    max-height: 175px;
    object-position: center;
  }
  .component-image07 {
    height: fit-content;
    max-height: 175px;
    object-position: center;
  }
  .component-image08 {
    height: fit-content;
    max-height: 175px;
    object-position: center;
  }
  .component-image09 {
    height: fit-content;
    max-height: 175px;
    object-position: center;
  }
}
@media (max-width: 767px) {
  .component-container1 {
    flex-direction: column;
  }
  .component-text-left {
    width: 100%;
  }
  .component-text-solution {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .component-image {
    width: 70%;
    height: 200px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    max-height: auto;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
  }
  .component-text {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .component-text-solution1 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .component-image01 {
    width: 70%;
    height: 200px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    max-height: auto;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
  }
  .component-text02 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .component-text-solution2 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .component-image02 {
    width: 70%;
    height: 200px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    max-height: auto;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
  }
  .component-text04 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .component-text05 {
    line-height: 1.5;
  }
  .component-text-solution3 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .component-image03 {
    width: 70%;
    height: 200px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    max-height: auto;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
  }
  .component-text06 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .component-images {
    display: none;
  }
  .component-text-right {
    width: 100%;
  }
  .component-text-solution4 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .component-image05 {
    width: 70%;
    height: 200px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    max-height: auto;
    align-items: flex-start;
    margin-bottom: 0px;
    justify-content: flex-start;
    object-position: 0 -150px;
  }
  .component-text08 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .component-text-solution5 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .component-image06 {
    width: 70%;
    height: 200px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    max-height: auto;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
  }
  .component-text10 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .component-text11 {
    line-height: 1.5;
  }
  .component-text-solution6 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .component-image07 {
    width: 70%;
    height: 200px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    max-height: auto;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
  }
  .component-text12 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .component-text13 {
    line-height: 1.5;
  }
  .component-text-solution7 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .component-image08 {
    width: 70%;
    height: 200px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    max-height: auto;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
  }
  .component-text14 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .component-image09 {
    width: 70%;
    height: 200px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    max-height: auto;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
  }
  .component-text16 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
}
@media (max-width: 479px) {
  .component-image {
    width: 70%;
  }
  .component-image01 {
    width: 70%;
  }
  .component-image02 {
    width: 70%;
  }
  .component-image03 {
    width: 70%;
  }
  .component-image05 {
    width: 70%;
    object-position: 0 -50px;
  }
  .component-image06 {
    width: 70%;
  }
  .component-image07 {
    width: 70%;
  }
  .component-image08 {
    width: 70%;
  }
  .component-image09 {
    width: 70%;
  }
}
