<div class="component-container">
  <div class="component-container1">
    <div class="component-text-left">
      <div class="component-text-solution">
        <img
          [attr.alt]="image_alt1"
          [attr.src]="image_src1"
          loading="lazy"
          class="component-image"
        />
        <h1 class="component-text">{{ heading }}</h1>
        <span class="component-text01">{{ text }}</span>
      </div>
      <div class="component-text-solution1">
        <img
          [attr.alt]="image_alt2"
          [attr.src]="image_src2"
          loading="lazy"
          class="component-image01"
        />
        <h1 class="component-text02">{{ heading1 }}</h1>
        <span class="component-text03">{{ text1 }}</span>
      </div>
      <div class="component-text-solution2">
        <img
          [attr.alt]="image_alt3"
          [attr.src]="image_src3"
          loading="lazy"
          class="component-image02"
        />
        <h1 class="component-text04">{{ heading2 }}</h1>
        <span class="component-text05">{{ text2 }}</span>
      </div>
      <div class="component-text-solution3">
        <img
          [attr.alt]="image_alt4"
          [attr.src]="image_src4"
          loading="lazy"
          class="component-image03"
        />
        <h1 class="component-text06">{{ heading3 }}</h1>
        <span class="component-text07">{{ text3 }}</span>
      </div>
    </div>
    <div class="component-images">
      <img
        [attr.alt]="image_alt"
        [attr.src]="image_src"
        loading="lazy"
        class="component-image04"
      />
    </div>
    <div class="component-text-right">
      <div class="component-text-solution4">
        <img
          [attr.alt]="image_alt5"
          [attr.src]="image_src5"
          loading="lazy"
          class="component-image05"
        />
        <h1 class="component-text08">{{ heading4 }}</h1>
        <span class="component-text09">{{ text4 }}</span>
      </div>
      <div class="component-text-solution5">
        <img
          [attr.alt]="image_alt6"
          [attr.src]="image_src6"
          loading="lazy"
          class="component-image06"
        />
        <h1 class="component-text10">{{ heading5 }}</h1>
        <span class="component-text11">{{ text5 }}</span>
      </div>
      <div class="component-text-solution6">
        <img
          [attr.alt]="image_alt7"
          [attr.src]="image_src7"
          loading="lazy"
          class="component-image07"
        />
        <h1 class="component-text12">{{ heading6 }}</h1>
        <span class="component-text13">{{ text6 }}</span>
      </div>
      <div class="component-text-solution7">
        <img
          [attr.alt]="image_alt8"
          [attr.src]="image_src8"
          loading="lazy"
          class="component-image08"
        />
        <h1 class="component-text14">{{ heading7 }}</h1>
        <span class="component-text15">{{ text7 }}</span>
      </div>
      <div class="component-text-solution8">
        <img
          [attr.alt]="image_alt9"
          [attr.src]="image_src9"
          loading="lazy"
          class="component-image09"
        />
        <h1 class="component-text16">{{ heading8 }}</h1>
        <span class="component-text17">{{ text8 }}</span>
      </div>
    </div>
  </div>
</div>
