<div class="landing-atacado-conteudo-container">
  <div class="landing-atacado-conteudo-container1">
    <div class="landing-atacado-conteudo-text-left">
      <div class="landing-atacado-conteudo-text-solution">
        <img
          [attr.alt]="image_alt1"
          [attr.src]="image_src1"
          loading="lazy"
          class="landing-atacado-conteudo-image"
        />
        <h1 class="landing-atacado-conteudo-text">{{ heading }}</h1>
        <span class="landing-atacado-conteudo-text01">{{ text }}</span>
      </div>
      <div class="landing-atacado-conteudo-text-solution1">
        <img
          [attr.alt]="image_alt2"
          [attr.src]="image_src2"
          loading="lazy"
          class="landing-atacado-conteudo-image01"
        />
        <h1 class="landing-atacado-conteudo-text02">{{ heading1 }}</h1>
        <span class="landing-atacado-conteudo-text03">{{ text1 }}</span>
      </div>
      <div class="landing-atacado-conteudo-text-solution2">
        <img
          [attr.alt]="image_alt3"
          [attr.src]="image_src3"
          loading="lazy"
          class="landing-atacado-conteudo-image02"
        />
        <h1 class="landing-atacado-conteudo-text04">{{ heading2 }}</h1>
        <span class="landing-atacado-conteudo-text05">{{ text2 }}</span>
      </div>
      <div class="landing-atacado-conteudo-text-solution3">
        <img
          [attr.alt]="image_alt4"
          [attr.src]="image_src4"
          loading="lazy"
          class="landing-atacado-conteudo-image03"
        />
        <h1 class="landing-atacado-conteudo-text06">{{ heading3 }}</h1>
        <span class="landing-atacado-conteudo-text07">{{ text3 }}</span>
      </div>
    </div>
    <div class="landing-atacado-conteudo-images">
      <img
        [attr.alt]="image_alt"
        [attr.src]="image_src"
        loading="lazy"
        class="landing-atacado-conteudo-image04"
      />
    </div>
    <div class="landing-atacado-conteudo-text-right">
      <div class="landing-atacado-conteudo-text-solution4">
        <img
          [attr.alt]="image_alt5"
          [attr.src]="image_src5"
          loading="lazy"
          class="landing-atacado-conteudo-image05"
        />
        <h1 class="landing-atacado-conteudo-text08">{{ heading4 }}</h1>
        <span class="landing-atacado-conteudo-text09">{{ text4 }}</span>
      </div>
      <div class="landing-atacado-conteudo-text-solution5">
        <img
          [attr.alt]="image_alt6"
          [attr.src]="image_src6"
          loading="lazy"
          class="landing-atacado-conteudo-image06"
        />
        <h1 class="landing-atacado-conteudo-text10">{{ heading5 }}</h1>
        <span class="landing-atacado-conteudo-text11">{{ text5 }}</span>
      </div>
      <div class="landing-atacado-conteudo-text-solution6">
        <img
          [attr.alt]="image_alt7"
          [attr.src]="image_src7"
          loading="lazy"
          class="landing-atacado-conteudo-image07"
        />
        <h1 class="landing-atacado-conteudo-text12">{{ heading6 }}</h1>
        <span class="landing-atacado-conteudo-text13">{{ text6 }}</span>
      </div>
      <div class="landing-atacado-conteudo-text-solution7">
        <img
          [attr.alt]="image_alt8"
          [attr.src]="image_src8"
          loading="lazy"
          class="landing-atacado-conteudo-image08"
        />
        <h1 class="landing-atacado-conteudo-text14">{{ heading7 }}</h1>
        <span class="landing-atacado-conteudo-text15">{{ text7 }}</span>
      </div>
      <div class="landing-atacado-conteudo-text-solution8">
        <img
          [attr.alt]="image_alt9"
          [attr.src]="image_src9"
          loading="lazy"
          class="landing-atacado-conteudo-image09"
        />
        <h1 class="landing-atacado-conteudo-text16">{{ heading8 }}</h1>
        <span class="landing-atacado-conteudo-text17">{{ text8 }}</span>
      </div>
    </div>
  </div>
</div>
