<div class="botes-whats-ctt-btn-group" [ngClass]="rootClassName">
  <a
    href="https://web.whatsapp.com/send?phone=5511992810249&amp;text=Ol%C3%A1%2C%20Soft%20Clever.%20Gostaria%20de%20solicitar%20um%20or%C3%A7amento."
    target="_blank"
    rel="noreferrer noopener"
    class="botes-whats-ctt-link button"
  >
    <span class="botes-whats-ctt-text">
      <span class="botes-whats-ctt-text1">Whatsapp</span>
      <br />
    </span>
  </a>
  <a routerLink="/contato" class="botes-whats-ctt-navlink button">
    <span>
      <span class="botes-whats-ctt-text4">Contato</span>
      <br />
    </span>
  </a>
</div>
