<div class="botes-whats-ctt-btn-group" [ngClass]="rootClassName">
  <a
    href="https://api.whatsapp.com/send/?phone=5511992810253&amp;text=Ol%C3%A1%2C+envie+sua+mensagem%21&amp;type=phone_number&amp;app_absent=0"
    target="_blank"
    rel="noreferrer noopener"
    class="botes-whats-ctt-link button"
  >
    <span class="botes-whats-ctt-text">
      <span class="botes-whats-ctt-text1">Whatsapp</span>
      <br />
    </span>
  </a>
  <a routerLink="/contato" class="botes-whats-ctt-navlink button">
    <span>
      <span class="botes-whats-ctt-text4">Contato</span>
      <br />
    </span>
  </a>
</div>
