.solution-industry {
    width: 100%;

    max-width: var(--max-width);

    margin: 0 auto;

    background-color: var(--gray-f1);

    border-radius: var(--border-radius);

    .solution-industry-container {
        margin: 0 auto;
        padding: 32px 64px;

        display: flex;
        flex-direction: row;
        
        align-items: flex-start;
        justify-content: space-between;
        
        gap: 16px;

        .solution-industry-container-card {
            width: 30%;
            
            display: flex;
            flex-direction: column;
            
            align-items: stretch;
            justify-content: space-between;

            img {
                height: 200px;
                
                border-radius: 10px;

                object-fit: cover;
            }

            h1 {
                height: 80px;

                display: flex;

                align-items: center;
                justify-content: center;

                font-size: 1.5rem;
                font-weight: 900;

                text-align: center;
            }
            
            p {
                width: 100%;
                text-align: justify;
                line-height: 1.3;
            }
        }

        @media (max-width: 841px) {
            flex-direction: column;
            
            .solution-industry-container-card {
                width: 100%;
            }
        }
        
        @media (max-width: 479px) {
            padding: 16px 32px;
        }
    }
}
