<app-menu></app-menu>
<hero-section
    heading="Indústria e Serviço"
    image="assets/images/jpg/industry.jpg"
    [paragraphs]="[
        'Sistema de gestão empresarial completo que facilita o fluxo de informações entre todos os setores da empresa, tais como; produção, compras, vendas, estoque, fiscal, financeiro, expedição, cobrança e afins. O Sírius ERP está em constante atualização e crescimento e conta com mais de 12 mil usuários atendidos desde 1994. Disponibilizamos as melhores e mais avançadas tecnologias para atender de forma prática qualquer tipo de empresa de micro, pequeno, e médio porte. Oferecemos planos mensais ou anuais com descontos e não cobramos pela cópia do sistema. O nosso contrato mensal não possui fidelidade.',
        'Nosso suporte é remoto e online e atendemos em todo o território nacional.',
        'O Sírius ERP Atende completamente a Legislação Fiscal exigida pela SEFAZ e centenas de contabilidades nos indicam. Na Soft Clever você pode confiar.',
        'Tenha o controle de sua produção com explosão de matérias primas, saldos de estoque e lotes. Conheça abaixo alguns módulos específicos para o setor fabril e de serviços. Os módulos mencionados precisam ser utilizados em conjunto com o Sírius ERP.'
    ]">
</hero-section>
<app-videos></app-videos>
<div class="solution-industry">
    <div class="solution-industry-container">
        <div class="solution-industry-container-card">
            <img alt="image"
                src="/assets/images/engenheiro-de-homem-de-negocios-bonito-no-capacete-em-um-edificio_1303-21167-1400w.jpg"
                loading="lazy" />
            <h1>Produção</h1>
            <p>
                Totalmente integrado com o estoque. Geração de ordem de produção a partir do pedido de venda.
                Controle por fases da produção, controle por grade, baixa automática das matérias primas e remessa
                parcial de matérias primas a terceiros. Carga automática de estoque dos produtos acabados, impressão
                de ordem de produção, ficha técnica e ou de corte. Envia pagamento a terceiros para as contas a
                pagar.
            </p>
        </div>
        <div class="solution-industry-container-card">
            <img alt="image" src="/assets/images/industria-2-1400w.jpg" />
            <h1>Entrada para Beneficiamento</h1>
            <p>
                Totalmente integrado com o estoque, vendas e financeiro. Permite ao usuário controle detalhado das
                entradas de mercadorias que passarão pelos processos de beneficiamento. Entrada de notas, emissão de
                pedidos de vendas totais e parciais, controle de saldos de matérias primas e produtos acabados,
                emissão de NF-es a partir do pedido de venda com possibilidade de acrescentar mais de uma operação
                na mesma NF-e.
            </p>
        </div>
        <div class="solution-industry-container-card">
            <img alt="image" src="/assets/images/industria-3-1400w.jpg" />
            <h1>Ordens de Serviços</h1>
            <p>
                Totalmente integrado com as vendas, estoque e financeiro. Controle de entradas dos itens que serão
                consertados. Geração de orçamentos e ordens de serviços. Envio para pedido de vendas e geração de
                nota fiscal. Baixa automática das peças utilizadas, diversas opções de status, filtros, relatório e
                rotinas com exportação para Excel.
            </p>
        </div>
    </div>
</div>
<home-servicos
    [cards]="[
        { routerLink: '/solucao-varejo', heading: 'Varejo', image: 'assets/images/comercio-varejista-1500w.webp', text: 'Emissor S@T fiscal e NFC-e com integração aos módulos Pré-venda, Delivery, Comandas, Sirius App Comandas e Pré-venda, Sirius Web Lojas, Sirius Market Place e cartão de crédito/TEF.' },
        { routerLink: '/solucao-atacado-e-distribuicao', heading: 'Atacado e Distribuição', image: 'assets/images/atacado-e-distribuicao-1500w.webp', text: 'NF-e, CT-e, NFS-e, Vendas, Liberação e Expedição de Pedidos, Reserva, Troca/Devolução, Financeiro, Cobrança, Compras e muito mais.' },
        { routerLink: '/solucao-fiscal', heading: 'Fiscal', image: 'https://www.remessaonline.com.br/blog/wp-content/uploads/2021/01/bloggif_5ff493acd7925.jpeg.webp', text: 'Sped ICMS, IPI, Pis e Cofins e Bloco K completo.' }
    ]">
</home-servicos>
<app-footer></app-footer>