<div class="solucao-industria-servico-container">
    <app-menu></app-menu>
    <div class="solucao-industria-servico-hero-right">
        <img alt="image" src="assets/images/jpg/industry.jpg" loading="eager" class="solucao-industria-servico-image" />
        <div class="solucao-industria-servico-container1">
            <h1 class="solucao-industria-servico-text">Indústria e Serviço</h1>
            <span class="solucao-industria-servico-text01">
                <span class="solucao-industria-servico-text02">
                    Sistema de gestão empresarial completo que facilita o fluxo de informações entre todos os setores da
                    empresa, tais como; produção, compras, vendas, estoque, fiscal, financeiro, expedição, cobrança e
                    afins. O Sírius ERP está em constante atualização e crescimento e conta com mais de 12 mil usuários
                    atendidos desde 1994. Disponibilizamos as melhores e mais avançadas tecnologias para atender de
                    forma prática qualquer tipo de empresa de micro, pequeno, e médio porte. Oferecemos planos mensais
                    ou anuais com descontos e não cobramos pela cópia do sistema. O nosso contrato mensal não possui
                    fidelidade.
                </span>
                <br class="solucao-industria-servico-text03" />
                <span class="solucao-industria-servico-text04">
                    Nosso suporte é remoto e online e atendemos em todo o território nacional.
                </span>
                <br class="solucao-industria-servico-text05" />
                <span class="solucao-industria-servico-text06">
                    O Sírius ERP Atende completamente a Legislação Fiscal exigida pela SEFAZ e centenas de
                    contabilidades nos indicam. Na Soft Clever você pode confiar.
                </span>
                <br class="solucao-industria-servico-text07" />
                <span class="solucao-industria-servico-text08">
                    Tenha o controle de sua produção com explosão de matérias primas, saldos de estoque e lotes. Conheça
                    abaixo alguns módulos específicos para o setor fabril e de serviços. Os módulos mencionados precisam
                    ser utilizados em conjunto com o Sírius ERP.
                </span>
                <span><span [innerHTML]="rawr0ca"></span></span>
            </span>
            <botes-whatsctt></botes-whatsctt>
        </div>
    </div>
    <app-videos></app-videos>
    <div class="solucao-industria-servico-container2">
        <div class="solucao-industria-servico-text-right">
            <div class="solucao-industria-servico-text-solution">
                <img
                    alt="image"
                    src="/assets/images/engenheiro-de-homem-de-negocios-bonito-no-capacete-em-um-edificio_1303-21167-1400w.jpg"
                    loading="lazy"
                    class="solucao-industria-servico-image1" />
                <div class="solucao-industria-servico-container3">
                    <h1 class="solucao-industria-servico-text10">Produção</h1>
                </div>
                <span class="solucao-industria-servico-text11">
                    Totalmente integrado com o estoque. Geração de ordem de produção a partir do pedido de venda.
                    Controle por fases da produção, controle por grade, baixa automática das matérias primas e remessa
                    parcial de matérias primas a terceiros. Carga automática de estoque dos produtos acabados, impressão
                    de ordem de produção, ficha técnica e ou de corte. Envia pagamento a terceiros para as contas a
                    pagar.
                </span>
            </div>
            <div class="solucao-industria-servico-text-solution1">
                <img alt="image" src="/assets/images/industria-2-1400w.jpg" class="solucao-industria-servico-image2" />
                <div class="solucao-industria-servico-container4">
                    <h1 class="solucao-industria-servico-text12">Entrada para Beneficiamento</h1>
                </div>
                <span class="solucao-industria-servico-text13">
                    Totalmente integrado com o estoque, vendas e financeiro. Permite ao usuário controle detalhado das
                    entradas de mercadorias que passarão pelos processos de beneficiamento. Entrada de notas, emissão de
                    pedidos de vendas totais e parciais, controle de saldos de matérias primas e produtos acabados,
                    emissão de NF-es a partir do pedido de venda com possibilidade de acrescentar mais de uma operação
                    na mesma NF-e.
                </span>
            </div>
            <div class="solucao-industria-servico-text-solution2">
                <img alt="image" src="/assets/images/industria-3-1400w.jpg" class="solucao-industria-servico-image3" />
                <div class="solucao-industria-servico-container5">
                    <h1 class="solucao-industria-servico-text14">Ordens de Serviços</h1>
                </div>
                <span class="solucao-industria-servico-text15">
                    Totalmente integrado com as vendas, estoque e financeiro. Controle de entradas dos itens que serão
                    consertados. Geração de orçamentos e ordens de serviços. Envio para pedido de vendas e geração de
                    nota fiscal. Baixa automática das peças utilizadas, diversas opções de status, filtros, relatório e
                    rotinas com exportação para Excel.
                </span>
            </div>
        </div>
    </div>
    <home-servicos></home-servicos>
</div>
<app-footer></app-footer>
