section {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70vh;

    gap: 2rem;
}

section * {
    text-align: center;
}
button {
    width: 10px;
    height: 10px;
}
