<div
  class="categoria-solucao-varejo-categoria-solucao-varejo"
  [ngClass]="rootClassName"
>
  <img
    [attr.alt]="Image_alt"
    [attr.src]="Image_src"
    loading="lazy"
    class="categoria-solucao-varejo-image"
  />
  <div class="categoria-solucao-varejo-container">
    <a routerLink="/solucao-varejo" class="categoria-solucao-varejo-navlink">
      {{ text1 }}
    </a>
    <button class="categoria-solucao-varejo-button button">{{ button }}</button>
    <a routerLink="/solucao-varejo" class="categoria-solucao-varejo-navlink1">
      {{ text2 }}
    </a>
  </div>
</div>
