<div
  class="categoria-solucao-varejo-categoria-solucao-varejo"
  [ngClass]="rootClassName"
>
  <img
    [attr.alt]="Image_alt"
    [attr.src]="Image_src"
    loading="lazy"
    class="categoria-solucao-varejo-image"
  />
  <div class="categoria-solucao-varejo-container">
    <h2 class="categoria-solucao-varejo-text">{{ heading }}</h2>
    <span class="categoria-solucao-varejo-text1">{{ text }}</span>
    <button class="categoria-solucao-varejo-button button">{{ button }}</button>
  </div>
</div>
