<div class="landing-fiscal-container">
    <div class="landing-fiscal-container1">
        <div class="landing-fiscal-text-left">
            <div class="landing-fiscal-text-solution">
                <img [attr.alt]="image_alt1" [attr.src]="image_src1" loading="lazy" class="landing-fiscal-image" />
                <h1 class="landing-fiscal-text">{{ heading }}</h1>
                <span class="landing-fiscal-text01">
                    <span>
                        Emissão de Nota Fiscal Eletrônica (NF-e) com envio e autorização junto a SEFAZ. Rotinas de
                        cancelamento e inutilização por faixa numérica, carta de correção, envio automático de e-mail
                        com XML e PDF. Configurações de diversos tipos de operações com cálculo automático de impostos.
                        Pré-visualização e impressão do DANFE e opções de relatórios fiscais. E mais;
                    </span>
                    <br />
                    <br />
                    <span>Geração de NFE a partir do pedido</span>
                    <br />
                    <span>Digitação expressa de nfe de saída ou entrada</span>
                    <br />
                    <span> Cálculos de impostos, inclusive de substituição tributária </span>
                    <br />
                    <span>Cálculos de peso e volume</span>
                    <br />
                    <span>Geração e envio de arquivo XML</span>
                    <br />
                    <span>Visualização da pré-danfe</span>
                    <br />
                    <span> Geração de notas de importação, exportação e de nota complementar </span>
                    <br />
                    <span> Baixa automática do estoque e envio dos títulos ao Financeiro </span>
                    <br />
                </span>
            </div>
            <div class="landing-fiscal-text-solution1">
                <img [attr.alt]="image_alt2" [attr.src]="image_src2" loading="lazy" class="landing-fiscal-image1" />
                <h1 class="landing-fiscal-text21">{{ heading1 }}</h1>
                <span class="landing-fiscal-text22">{{ text }}</span>
            </div>
            <div class="landing-fiscal-text-solution2">
                <img [attr.alt]="image_alt3" [attr.src]="image_src3" loading="lazy" class="landing-fiscal-image2" />
                <h1 class="landing-fiscal-text23">{{ heading2 }}</h1>
                <span class="landing-fiscal-text24">{{ text1 }}</span>
            </div>
        </div>
        <div class="landing-fiscal-images">
            <img [attr.alt]="image_alt" [attr.src]="image_src" loading="lazy" class="landing-fiscal-image3" />
        </div>
        <div class="landing-fiscal-text-right">
            <div class="landing-fiscal-text-solution3">
                <img [attr.alt]="image_alt4" [attr.src]="image_src4" loading="lazy" class="landing-fiscal-image4" />
                <h1 class="landing-fiscal-text25">{{ heading3 }}</h1>
                <span class="landing-fiscal-text26">
                    <span>
                        O Sirius Sped Fiscal e Bloco K pode ser utilizado separadamente ou de forma integrada ao seu
                        sistema. Além disso, também é possível integrar essa poderosa ferramenta fiscal ao Sírius ERP (o
                        melhor custo benefício do mercado quando o assunto é sistema de gestão empresarial).
                    </span>
                    <br />
                    <span>Veja alguns recursos;</span>
                    <br />
                    <br />
                    <span>
                        • Sped Fiscal - Totalmente integrado com compras e vendas. Cálculo de impostos de entrada e
                        saída. Captura do arquivo XML. Atribuição automática das CFOP´S de entrada e das CST´S de ICMS,
                        IPI, PIS E COFINS. Geração mensal do arquivo Sped para envio a SEFAZ e contabilidade. Geração de
                        livro fiscal para conferência com livro da contabilidade. Permite conversão das unidades de
                        medidas (compra x venda) e rateio de impostos. Pode ser contratado separadamente de nosso ERP e
                        integrado ao seu sistema. Você não precisa substituir todos os sistemas de sua empresa.
                    </span>
                    <br class="landing-fiscal-text33" />
                    <br />
                    <span>
                        • Bloco K - Totalmente integrado com as compras, estoque e produção. O Bloco K atua como um
                        componente do Sped Fiscal para controle detalhado dos saldos de entrada e saída de produtos e
                        insumos. Geração mensal do arquivo Bloco K 200 e/ou 280 para envio a SEFAZ e para a
                        contabilidade com movimentações das compras, vendas e produção. Também controla os insumos.
                        Controla estoque próprio e estoque em poder de terceiros. Pode ser contratado separadamente de
                        nosso ERP e integrado ao seu sistema. Você não precisa substituir todos os sistemas de sua
                        empresa.
                    </span>
                    <br />
                    <br />
                    <span>
                        • Módulos Auxiliares - Os módulos auxiliares ao Sped Fiscal e Bloco K são: Vendas, Compras e
                        Produção. Estes módulos são fundamentais para geração dos arquivos. Os módulos contam com
                        rotinas automáticas que minimizam processos manuais e possíveis erros que interferem no
                        resultado final.
                    </span>
                    <br class="landing-fiscal-text39" />
                </span>
            </div>
        </div>
    </div>
</div>
